{% extends "customer/layout.html" %}

{% block  customer_head %}

<script>
    $(document).ready(function(){
        var sBtn = $("ul");
        sBtn.find("button").click(function(){   // sBtn에 속해 있는  button 찾아 클릭 하면.
            sBtn.children().removeClass("actives");
            $(this).addClass("actives"); // 클릭한 a에 (active)클래스를 넣는다.
        });
        
    });
    $(document).ready(function(){
        var sBtn = $("a");
        sBtn.find("button").click(function(){   // sBtn에 속해 있는  button 찾아 클릭 하면.
            sBtn.children().removeClass("actives_in");
            $(this).addClass("actives_in"); // 클릭한 a에 (active)클래스를 넣는다.
        });
        
    });
</script>

<style>
    .title_box{
        background-color: white;
        margin: 10px 5px 10px 10px;
        padding: 10px;
        border: 1px solid rgb(204, 195, 195);
        width: 250px;
        height: 150px;
        text-align: center;
    }.title_box:hover{
        background-color: #0fd9a6;
        border: 1px solid rgb(204, 195, 195);
        color: white;
    }.actives{
        background-color: #0fd9a6;
        border: 1px solid rgb(204, 195, 195);
        color: white;
    }
    .in_box_icon{
        font-size: 500%;
    }
    .in_box_font{
        font-weight: bold;
        font-size:250%;
        padding: 10px;
    }
    .fass{
        color: #0fd9a6;
    }
    .button_title{
        white-space:normal;
        border: 2px solid rgb(129, 92, 50); 
        color:rgb(24, 3, 44); 
        background-color:white; 
        min-height: 50px;
        font-weight: bold;
        font-size: 17px;
    } .button_title:hover{
        border: 2px solid rgb(129, 92, 50);
        color:white; 
        background-color:rgb(129, 92, 50); 
    }.actives_in{ 
        border: 2px solid rgb(129, 92, 50);
        color:white; 
        background-color:rgb(129, 92, 50); 
    }
    .button_in{
        margin:10px 17px 0px 5px; 
        padding:15px; 
        border: 1px solid rgb(233, 126, 64)
    }
</style>
<script>
    function more_button(id){
        var x = document.getElementsByClassName("fades");
        var i;
        for (i = 0; i < x.length; i++) {
            x[i].style.display = 'none';
        }
        if( document.getElementById(id).style.display != '')
        {
            document.getElementById(id).style.display = '';
        }else{
            document.getElementById(id).style.display = 'none';
        }
    }
    function more_button2(id){
        var x = document.getElementsByClassName("fade_in");
        var i;
        for (i = 0; i < x.length; i++) {
            x[i].style.display = 'none';
        }
        if( document.getElementById(id).style.display != '')
        {
            document.getElementById(id).style.display = '';
        }else{
            document.getElementById(id).style.display = 'none';
        }
    }
</script>
{% endblock %}
{% block content %}
      


<h2 class="text-center" style="padding:10px"><i class="fass fas fa-question"></i><i class="fass fas fa-question fa-rotate-180"></i><i class="fass fas fa-question"></i> 자주 묻는 질문</h2>
<hr/>

<div class="row">
        <form style="width:58%; float: none; margin: 0 auto;" action="{% url "customer:customer_faq_search" %}">
            {% csrf_token %}
            <div class="input-group">
            <input name="query" value="{{ query }}" type="search" class="form-control" style="border:1px solid rgb(129, 92, 50);" placeholder="무엇이 궁금하세요?" >
            <span class="input-group-btn">
                <input type="hidden" name="next" value="{{ request.path }}">
                <button class="btn" type="submit" style="background-color:rgb(129, 92, 50); color:white; border:1px solid rgb(129, 92, 50); ">
                    <i class="fa fa-search"></i>
                </button>
            </span>
            </div>
        </form>
</div>
<br/>

<div class="row" style="align-items:center;">
    <div class="container" style="text-align:center;">
        <div class="col-sm-4 col-xs-12">
            <ul class="nav nav-tabs" style="border: 0px;">
                <button class="btn title_box actives" onclick="more_button('8_main')" >
                        <i class="fas fa-search in_box_icon"></i><br>
                        <div class="in_box_font">사용하기</div>
                </button>
            </ul>
        </div>
        <div class="col-sm-4 col-xs-12">
            <ul class="nav nav-tabs" style="border: 0px;">
                <button class="btn title_box" onclick="more_button('9_main')" >
                        <i class="far fa-handshake in_box_icon"></i>
                        <div class="in_box_font">거래하기</div>
                </button>
            </ul>
        </div>  
        <div class="col-sm-4 col-xs-12">
            <ul class="nav nav-tabs" style="border: 0px;">
                <button class="btn title_box" onclick="more_button('6_main')" >
                        <i class="fas fa-gift in_box_icon"></i>
                        <div class="in_box_font">물건받기 </div>
                </button>
            </ul>
        </div>
    </div>

</div>

<hr style="border: 0.5px solid rgb(204, 195, 195);">

<div class="row">
    <div class="fades" id="8_main" style="text-align:center;">
        {% for faq in faqs %}
            {% if faq.faq_category.pk == 8 %}
                <a href="#{{ faq.faq_category.pk }}/{{ faq.pk }}">
                    <button class="btn button_title" style="margin: 5px;" onclick="more_button2('{{ faq.faq_category.pk }}/{{ faq.pk }}')">
                        {{ faq.faq_title }}
                    </button>
                </a>
            {% endif %}
        {% endfor %}
    </div>
    
    <div class="fades" id="9_main" style="display:none; text-align:center;">
        {% for faq in faqs %}
            {% if faq.faq_category.pk == 9 %}
                <a href="#{{ faq.faq_category.pk }}/{{ faq.pk }}">
                    <button class="btn button_title" style="margin: 5px;" onclick="more_button2('{{ faq.faq_category.pk }}/{{ faq.pk }}')">
                        {{ faq.faq_title }}
                    </button>
                </a>
            {% endif %}
        {% endfor %}
    </div>
    
    <div class="fades" id="6_main" style="display:none; text-align:center;">
        {% for faq in faqs %}
            {% if faq.faq_category.pk == 6 %}
                <a href="#{{ faq.faq_category.pk }}/{{ faq.pk }}">
                    <button class="btn button_title" style="margin: 5px;" onclick="more_button2('{{ faq.faq_category.pk }}/{{ faq.pk }}')">
                        {{ faq.faq_title }}
                    </button>
                </a>
            {% endif %}
        {% endfor %}
    </div> 
</div>

<hr style="border: 0.5px solid rgb(204, 195, 195);">

<div class="row">
        {% for faq in faqs %}
            <div class="button_in fade_in summer-content" id="{{ faq.faq_category.pk }}/{{ faq.pk }}" style="display:none;">
                    {{ faq.faq_content|safe }}
            </div>
        {% endfor %}
</div>


{% endblock %}