{% extends "mypage/layout.html" %}

{% block mypage_content %}
<a href="{% url "customer:customer_ask_new" %}">1:1문의하기</a><br>
{% for ask in asks %}
<a href="{% url "customer:customer_ask_detail" ask.pk %}">제목 : {{ ask.ask_title }}({{ ask.get_ask_going_display }})</a>
<br>
{% if ask.ask_going == 'ready' %}
<a href="{% url "customer:customer_ask_edit" ask.pk %}">수정</a>
{% endif %}
<br>
{% empty %}
<h2 class="text-center"><small><i class="far fa-meh"></i> 문의글이 없습니다</small></h2>

{% endfor %}


{% endblock %}