{% extends "category/layout.html" %}
{% load mptt_tags %}
{% load hitcount_tags %}
{% load trade_tags %}


{% block cate_content %}

<ol class="breadcrumb">

    {% for parent in parent_category %}
      <li><a href="{% url "category:category_item" parent.id %}">{{ parent }}</a></li>
    {% endfor %}

  <li class="active"><a style="color:#0fd9a6" href="{% url "category:category_item" category.id %}">{{ category }}</a></li>
</ol>

{% if children.exists %}
    <div align="center">
        <a href="{% url "category:category_item" category.id %}?parent=true">
        <button style="margin-bottom: 10px;" class="btn btn-primary"><b>{{ category }}</b> <small>{% if parent %}{{ item_ctn }}{% else %}{{ category.item_set.all.count }}{% endif %}개</small></button>
        </a>

        {% for category, name, cnt in children %}
        <a href="{% url "category:category_item" category %}">
        <button style="margin-bottom: 10px;" class="btn btn-primary"><b>{{ name }}</b> <small>{{ cnt }}개</small></button>
        </a>
        {% endfor %}
    </div>
    <br/>
{% endif %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-xs-12 vcenter">
            <h2>{{ category }} <small>{{ item_ctn }}개</small></h2>
        </div><div class="col-sm-6 col-xs-12 vcenter" style="vertical-align: bottom;">
            <h6 class="sort text-right" >
                <a class="active" href="{% url "category:category_item" category.id %}?parent={{ flag }}">최신순</a><small style="padding:8px;"> | </small>
                <a href="{% url "category:category_item" category.id %}?parent={{ flag }}&sort=looks">조회순</a><small style="padding:8px;"> | </small>
                <a href="{% url "category:category_item" category.id %}?parent={{ flag }}&sort=hprice">높은가격순</a><small style="padding:8px;"> | </small>
                <a href="{% url "category:category_item" category.id %}?parent={{ flag }}&sort=lprice">낮은가격순</a>
            </h6>
        </div>
    </div>
    <hr>
</div>
{% endblock %}

{% block extra_content %}
    <script>
        $(document).ready(function() {
          $('a.active').removeClass('active');
          if ('{{ sort }}' == '-created_at'){
              $('a[href="' + location.pathname + '?parent={{ flag }}"]').addClass('active');
          }
          $('a[href="' + location.pathname + '?parent={{ flag }}&sort={{ sort }}"]').addClass('active');
        });
    </script>
{% endblock %}