{% extends "layout.html" %}
{% load mptt_tags %}
{% load hitcount_tags %}
{% load trade_tags %}


{% block content %}

<ol class="breadcrumb">

    {% for parent in parent_category %}
      <li><a href="{% url "category:categories" parent.id %}">{{ parent }}</a></li>
    {% endfor %}

  <li class="active">{{ category }}</li>
</ol>

{% for item in categories_items %}

    {% url "trade:item_detail" pk=item.pk as next_link %}
    {% item_block item next_link %}

<hr>

{% empty %}
<h4>물품을 찾을 수 없습니다..</h4>

{% endfor %}

{% endblock %}