{% extends "layout.html" %}
{% load mptt_tags %}
{% load hitcount_tags %}
{% load trade_tags %}


{% block content %}

<style>
    a.active{
        color:#0fd9a6;
    }
</style>

{% block cate_content %}
{% endblock %}

<div class="container-fluid text-center">
    <div class="row">
    {% for item in items %}
        <div class="col-sm-6 col-md-3">
            {% item_block item %}
        </div>
    {% empty %}
        <h4><i class="far fa-meh"></i> 물품을 찾을 수 없습니다</h4>

    {% endfor %}

    </div>
</div>

<div class="container-fluid text-center">
{% if is_paginated %}
  <nav>
    <ul class="pagination">
        <li>
          <a href="?query={{ query }}&sort={{ sort }}&page=1">
            <span><i class="fas fa-angle-double-left"></i></span>
          </a>
        </li>
      {% if page_obj.has_previous %}
        <li>
          <a href="?query={{ query }}&sort={{ sort }}&page={% if prev >= 1 %}{{ prev }}{% else %}1{% endif %}">
            <span><i class="fas fa-angle-left"></i></span>
          </a>
        </li>
      {% else %}
        <li class="disabled">
          <a href="#">
            <span><i class="fas fa-angle-left"></i></span>
          </a>
        </li>
      {% endif %}

      {% for page in page_range %}
        <li {% if page == page_obj.number %}class="active"{% endif %}>
          <a href="?query={{ query }}&sort={{ sort }}&page={{ page }}">{{ page }}</a>
        </li>
      {% endfor %}

      {% if page_obj.has_next %}
        <li>
          <a href="?query={{ query }}&sort={{ sort }}&page={% if last_page >= next %}{{ next }}{% else %}{{ last_page }}{% endif %}">
            <span><i class="fas fa-angle-right"></i></span>
          </a>
        </li>
      {% else %}
        <li {% if not page_obj.has_next %}class="disabled"{% endif %}>
          <a href="#">
            <span><i class="fas fa-angle-right"></i></span>
          </a>
        </li>
      {% endif %}
        <li>
          <a href="?query={{ query }}&sort={{ sort }}&page={{ last_page }}">
            <span><i class="fas fa-angle-double-right"></i></span>
          </a>
        </li>
    </ul>
  </nav>
{% endif %}
</div>


{% endblock %}