{% extends "category/layout.html" %}
{% load hitcount_tags %}
{% load trade_tags %}

{% block cate_content %}

<div class="container-fluid">

    <div class="row">
        <div class="row" style="margin:10px;">
            <div align="center">
                {% for category in all_category %}
                <a href="{% url "category:search_item" %}?query={{ query }}&cate={{ category.category__id }}">
                <button style="margin-bottom: 10px;" class="btn btn-primary"><b>{{ category.category__name }}</b> <small>{{ category.category_count }}개</small></button>
                </a>
                {% endfor %}
            </div>
            <br/>
        </div>
        <div class="col-sm-6 col-xs-12 vcenter">
            <h2><span style="color:red">{{ query }}</span> 검색결과 <small>{{ item_ctn }}개</small></h2>
        </div><div class="col-sm-6 col-xs-12 vcenter" style="vertical-align: bottom;">
            <h6 class="sort text-right" >
                <a href="{% url "category:search_item" %}?query={{ query }}&cate={{ cate }}">최신순</a><small style="padding:8px;"> | </small>
                <a href="{% url "category:search_item" %}?query={{ query }}&cate={{ cate }}&sort=looks">조회순</a><small style="padding:8px;"> | </small>
                <a href="{% url "category:search_item" %}?query={{ query }}&cate={{ cate }}&sort=hprice">높은가격순</a><small style="padding:8px;"> | </small>
                <a href="{% url "category:search_item" %}?query={{ query }}&cate={{ cate }}&sort=lprice">낮은가격순</a>
            </h6>
        </div>
    </div>
    <hr>
</div>

{% endblock %}

{% block extra_content %}
    <script>
        $(document).ready(function() {
          $('a.active').removeClass('active');
          if ('{{ sort }}' == '-created_at'){
              $('a[href="' + location.pathname + '?query={{ query }}&cate={{ cate }}"]').addClass('active');
          }
          $('a[href="' + location.pathname + '?query={{ query }}&cate={{ cate }}&sort={{ sort }}"]').addClass('active');
        });
    </script>
{% endblock %}