{% extends "layout.html" %}
{% load store.store_tags %}
{% load hitcount_tags %}
{% load static %}

{% block head %}
        <script>
            $(document).ready(function () {
                $('a[href="' + this.location.pathname + '"]').parents('li,ul').addClass('active');
            });
        </script>
    <!--Facebook 공유 기능-->
      <meta property="og:url"           content="{{ request.META.HTTP_HOST }}{{ request.path }}" />
      <meta property="og:type"          content="website" />
      <meta property="og:title"         content="{{ stores.name }}" />
      <meta property="og:description"   content="{{ stores.comment|linebreaks }}" />
      <meta property="og:image"         content="{{ request.META.HTTP_HOST }}{{ stores.photo.url }}" />

        <script>
        function sharefacebook(url) {
            window.open("http://www.facebook.com/sharer/sharer.php?u=" + url);
        }
        </script>

      <!--Kakao Talk 공유 기능-->
        <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
        <script>
            Kakao.init('{{ kakao_key }}');
            function sendLink() {
                Kakao.Link.sendDefault({
                  objectType: 'feed',
                  content: {
                   title: '{{ stores.name }}',
                    description: 'Buy & Sell 가게 공유',
                    imageUrl: 'http://{{ request.META.HTTP_HOST }}{{ stores.photo.url }}',
                    link: {
                      webUrl: 'http://{{ request.META.HTTP_HOST }}{{ request.path }}',
                      mobileWebUrl: 'http://{{ request.META.HTTP_HOST }}{{ request.path }}'
                    }
                  },
                social: {
                  viewCount: {% get_hit_count for stores %},
                  commentCount: {{ stores.storegrade_set.all.count }},
                  subscriberCount: {{ stores.follow_set.all.count }}
                },
                  buttons: [
                    {
                       title: 'Buy & Sell로!',
                      link: {
                        mobileWebUrl: 'http://{{ request.META.HTTP_HOST }}{{ request.path }}',
                        webUrl: 'http://{{ request.META.HTTP_HOST }}{{ request.path }}'
                      }
                    }
                  ]
                });
             }
        </script>
    <style>
        .fa-star {color:#f7e600}
        .fa-star-half-alt {color: #f7e600}

    .btn-yellow {
    background-color: #f7e600;
    }
    .btn-blue {
    background-color: #00498c;
    }
        .card {
        padding-top: 20px;
        margin: 10px 0 20px 0;
        background-color: rgba(214, 224, 226, 0.2);
        border-top-width: 0;
        border-bottom-width: 2px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .card .card-heading {
        padding: 0 20px;
        margin: 0;
    }

    .card .card-heading.simple {
        font-size: 20px;
        font-weight: 300;
        color: #777;
        border-bottom: 1px solid #e5e5e5;
    }

    .card .card-heading.image img {
        display: inline-block;
        width: 46px;
        height: 46px;
        margin-right: 15px;
        vertical-align: top;
        border: 0;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
    }

    .card .card-heading.image .card-heading-header {
        display: inline-block;
        vertical-align: top;
    }

    .card .card-heading.image .card-heading-header h3 {
        margin: 0;
        font-size: 14px;
        line-height: 16px;
        color: #262626;
    }

    .card .card-heading.image .card-heading-header span {
        font-size: 12px;
        color: #999999;
    }

    .card .card-body {
        padding: 0 20px;
        margin-top: 20px;
    }

    .card .card-media {
        padding: 0 20px;
        margin: 0 -14px;
    }

    .card .card-media img {
        max-width: 100%;
        max-height: 100%;
    }

    .card .card-actions {
        min-height: 30px;
        padding: 0 20px 20px 20px;
        margin: 20px 0 0 0;
    }

    .card .card-comments {
        padding: 20px;
        margin: 0;
        background-color: #f8f8f8;
    }

    .card .card-comments .comments-collapse-toggle {
        padding: 0;
        margin: 0 20px 12px 20px;
    }

    .card .card-comments .comments-collapse-toggle a,
    .card .card-comments .comments-collapse-toggle span {
        padding-right: 5px;
        overflow: hidden;
        font-size: 12px;
        color: #999;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .card-comments .media-heading {
        font-size: 13px;
        font-weight: bold;
    }

    .card.people {
        position: relative;
        display: inline-block;
        width: 170px;
        height: 300px;
        padding-top: 0;
        margin-left: 20px;
        overflow: hidden;
        vertical-align: top;
    }

    .card.people:first-child {
        margin-left: 0;
    }

    .card.people .card-top {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        width: 170px;
        height: 150px;
        background-color: #ffffff;
    }

    .card.people .card-top.green {
        background-color: #53a93f;
    }

    .card.people .card-top.blue {
        background-color: #427fed;
    }

    .card.people .card-info {
        position: absolute;
        top: 150px;
        display: inline-block;
        width: 100%;
        height: 101px;
        overflow: hidden;
        background: #ffffff;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .card.people .card-info .title {
        display: block;
        margin: 8px 14px 0 14px;
        overflow: hidden;
        font-size: 16px;
        font-weight: bold;
        line-height: 18px;
        color: #404040;
    }

    .card.people .card-info .desc {
        display: block;
        margin: 8px 14px 0 14px;
        overflow: hidden;
        font-size: 12px;
        line-height: 16px;
        color: #737373;
        text-overflow: ellipsis;
    }

    .card.people .card-bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        display: inline-block;
        width: 100%;
        padding: 10px 20px;
        line-height: 29px;
        text-align: center;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .card.hovercard {
        position: relative;
        padding-top: 0;
        overflow: hidden;
        text-align: center;
        background-color: rgba(214, 224, 226, 0.2);
    }

    .card.hovercard .cardheader {
        background: url("{{ stores.photo.url }}");
        background-size: cover;
        height: 135px;
    }

    .card.hovercard .avatar {
        position: relative;
        top: -50px;
        margin-bottom: -50px;
    }

    .card.hovercard .avatar img {
        width: 100px;
        height: 100px;
        max-width: 100px;
        max-height: 100px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        border: 5px solid rgba(255,255,255,0.5);
    }

    .card.hovercard .info {
        padding: 4px 8px 10px;
    }

    .card.hovercard .info .title {
        margin-bottom: 4px;
        font-size: 24px;
        line-height: 1;
        color: #262626;
        vertical-align: middle;
    }

    .card.hovercard .info .desc {
        overflow: hidden;
        font-size: 12px;
        line-height: 20px;
        color: #737373;
        text-overflow: ellipsis;
    }

    .card.hovercard .bottom {
        padding: 0 20px;
        margin-bottom: 17px;
    }

    .scrollBlind{
        height:100px;
        overflow-y:auto;
        overflow-x: none;
        -ms-overflow-style: none;
      &::-webkit-scrollbar {
        display: none !important;
      }
    }


    </style>


{% block store_head %}
    <script src="{% static 'js/readmore-2.2.1.min.js' %}" ></script> <!-- Readmore.js -->
        <script>
            jQuery(document).ready(function() {

            jQuery('.more').readmore({
                speed: 300,
                collapsedHeight: 74,
                moreLink: '<a href="#">더 보기</a>',
                lessLink: '<a href="#">다시 닫기</a>',
                heightMargin: 16
            });

        });
        </script>
        <style>
            .more {
                overflow: hidden;
            }
        </style>

{% endblock %}
{% endblock %}


{% block content %}

{% store_rating stores.pk as end %}
{% store_sell_list stores.pk as order %}


    <div class="row" style="padding:5px">

        <div class="col-md-4 col-xs-12 " align="center">

            <div class="card hovercard">
                <div class="cardheader"><br/><br/>
                    <div style="font-size:20px">
                        {% if stores.storegrade_set.all.count == 0 %}
                        <i class="far fa-star yellow"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                    {% else %}
                        {% if end == 0 %}
                        <i class="far fa-star yellow"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                        {% elif end < 1.5 %}
                        <i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                        {% elif end < 2.0 %}
                        <i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                        {% elif end < 2.5 %}
                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                        {% elif end < 3.0 %}
                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                        {% elif end < 3.5 %}
                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                        {% elif end < 4.0 %}
                        <i class="fas fa-star yellow"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i>
                        {% elif end < 4.5 %}
                        <i class="fas fa-star yellow"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                        {% elif end < 5.0 %}
                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                        {% elif end == 5.0 %}
                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                        {% endif %}
                    {% endif %}

                    </div>
                </div>
                <div class="avatar">
                     <img src="{{ stores.photo.url }}" width="200px" height="200px" align="center" class="img-responsive img-thumbnail" alt="가게 프로필 사진"/>
                </div>
                <div class="info">
                    <div class="title">
                        {{ stores.user }}
                    </div>
                </div>
                <div class="bottom">
                    <!--Facebook 공유 button-->
                    <a class="btn btn-blue btn" onclick="javascript:sharefacebook('{{ request.META.HTTP_HOST }}{{ request.path }}')">
                        <i class="fab fa-facebook" style="color:white"></i>
                    </a>
                    <!--Kakao Talk 공유 button-->
                    <a class="btn btn-yellow" onclick="javascript:sendLink()" >
                        <i class="fab fa-kickstarter-k"></i>
                    </a>
                    <a class="btn btn-warning btn" onclick = "location.href ='{% url "mypage:follow_action" stores.pk %}?next={{ request.path }}'">
                        <i class="fas fa-user-plus"></i>
                    </a>
                </div>
            </div>

        </div>

        <div class="col-md-8 col-xs-12">

            <div class="row">
                <div class="col-md-10 col-xs-12">
                <h3> <i class="fas fa-store" style="color:red"></i> {{ stores.name }} </h3>
                </div>
            </div>
            <hr/>

            <div class="row">
                <div class="col-md-3 col-xs-12">
                    <i class="fas fa-shopping-basket" style="color:orange;"></i> 판매 횟수 {{ order }}
                </div>

                <div class="col-md-3 col-xs-12">
                    <i class="far fa-eye" style="color:purple"></i> 방문 횟수 {% get_hit_count for stores %}
                </div>
                 <div class="col-md-3 col-xs-12">
                                    <i class="fas fa-user-friends" style="color:#368AFF"></i> 팔로워 {{ stores.follow_set.all.count }}명
                                </div>
                <div class="col-md-3 col-xs-12">
                    <span class="far fa-calendar-alt" aria-hidden="true" style="color:red"></span> 개점일 {{ stores.created_at | date:"y. m. d" }}
                </div>
            </div>
            <hr/>

            <div class="row">
                <div class="col-xs-12" >
                    <i class="fas fa-pencil-alt" style="color:#993800"></i> 가게 소개

                </div>
                <br/>
                <div class="col-md-12 col-xs-12" style="padding:10px">
                   <div class="more">{{ stores.comment | linebreaks }}</div>
                </div>
            </div> <hr/>



            {% if user.is_authenticated and request.user.pk == stores.user.pk %}
                 <a href="{% url "store:store_profile_edit" %}"><i class="fas fa-user-edit" ></i>가게 프로필 수정</a>
            {% endif %}

        </div>
    </div>
<div class="row" style="padding:10px">
  <ul class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation" ><a href="{% url "store:store_sell_list" stores.pk %}" aria-controls="home" role="tab" >물품들<span class="badge"> {{ stores.user.item_set.all.count }}</span></a></li>
    <li role="presentation"><a href="{% url "store:store_grade" stores.pk %}" aria-controls="profile" role="tab" >가게 평점<span class="badge">{{ stores.storegrade_set.all.count }}</span></a></li>
    <li role="presentation"><a href="{% url "store:store_question" stores.pk %}" aria-controls="messages" role="tab" >가게 문의<span class="badge">{{ stores.questioncomment_set.all.count }}</span></a></li>
  </ul>
</div>
<br/>
    {% block store_content %}
    {% endblock %}
    {% block store_extra_content %}
    {% endblock %}

{% endblock %}
