{% extends "layout.html" %}

{% load store.store_tags %}
{% load hitcount_tags %}

{% block content %}
{% store_rating stores.pk as end %}
{% store_sell_list stores.pk as order %}

    <h2 style="margin:20px">{{ stores.name }}</h2>
    <hr/>

    <table style="margin:20px">
        <tr>
            <td>사진 : </td><td><img src="{{ stores.photo.url }}"/> </td>
        </tr>
        <tr>
            <td>가게 소개 : </td><td>{{ stores.comment }}</td>
        </tr>
        <tr>
            <td>평점 : </td>
            <td>
                {% if stores.storegrade_set.all.count == 0 %}
                    평점이 없습니다.
                {% else %}
                    {{ end }} /5
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>판매 횟수 : </td>

            <td>{{ order }}</td>

        </tr>
        <tr>
            <td>방문 횟수 : </td><td>{% get_hit_count for stores %}</td>
        </tr>
        <tr>
            <td>개점일 : </td><td> {{ stores.created_at }}</td>
        </tr>
        {% if user.is_authenticated and request.user.pk == stores.user.pk %}

        <tr>
           <td> <a href="{% url "store:store_profile_edit" %}">가게 프로필 수정</a> </td>
        </tr>
        {% endif %}

    </table>
    <hr/>
    <table style="margin:20px">
        <tr>
            <td><a href="{% url "store:store_sell_list" stores.pk %}">물품들({{ stores.user.item_set.all.count }}) / </a></td>
            <td><a href="{% url "store:store_grade" stores.pk %}">가게 평점({{ stores.storegrade_set.all.count }}) / </a>  </td>
            <td><a href="{% url "store:store_question" stores.pk %}">가게 문의({{ stores.questioncomment_set.all.count }}) / </a></td>
            <td><a href="{% url "mypage:follow_new" stores.pk %}">팔로잉하기</a></td>
        </tr>
    </table>
    <hr/>

    {% block store_content %}
    {% endblock %}

{% endblock %}
