{% extends "layout.html" %}
{% load store.store_tags %}

{% block head %}

<style>

.gold { font-weight: bold; color:#747474; }
.fa-star {color: #FFF612}
.fa-star-half-alt {color: #FFF612}

.relative {
  position: relative;
  width: 250px;
  height: 250px;
}
.album_img {
    position: absolute;
    top:8%; left: 15%;
    z-index:-1;
}
.rank_music {
    position: absolute;
    top:8%; left: 15%;
    height: 249px;
    width: 250px;
    padding: 30px;
    background: url(//cdnimg.melon.co.kr/resource/image/web/chart/rank_bg_album.png) repeat;
    z-index: 0;

}
</style>

{% endblock %}

{% block content %}

{% endblock %}