{% extends "layout.html" %}

{% block head %}

<style>

.gold { font-weight: bold; color:#747474; }
.fa-star {color: #FFF612}
.fa-star-half-alt {color: #FFF612}

.relative {
  position: relative;
  width: 250px;
  height: 250px;
}
.album_img {
    position: absolute;
    top:8%; left: 15%;
    z-index:-1;
}
.rank_music {
    position: absolute;
    top:8%; left: 15%;
    height: 249px;
    width: 250px;
    padding: 30px;
    background: url(//cdnimg.melon.co.kr/resource/image/web/chart/rank_bg_album.png) repeat;
    z-index: 0;

}
</style>

{% endblock %}

{% block content %}

<div class="col-md-4">
         <h2 class="gold">판매왕 순위</h2><hr/>
        <div class="relative"></div>
            <div class="album_img">
                <img src="{{ sdict.0.photo.url }}" width="250", height="250", class="img-responsive" />
            </div>

            <div class="rank_music">
                <h4 style="color:white"><i class="fas fa-crown" style="color:#FFD700;"></i> 1위</h4>
                <div class="row">
                    <div class="col-xs-5">
                         <img src="{{ sdict.0.photo.url }}" width="100%", height="100%", class="img-responsive img-thumbnail ">
                    </div>
                    <div class="col-xs-7" style="font-weight:bold;color:white;">
                         {{ sdict.0.name }}
                    </div>
                </div>
                <hr/>
                    <h2 align="center" style="font-weight:bold;color:white;">{% store_sell_list sdict.0.pk %} 번</h2>
                    <div align="right">
                    <a href="{% url 'store:store_sell_list' sdict.0.pk %}" style="color:#C3C3C3;font-weight:bold;">가게 놀러가기 <i class="fas fa-angle-right"></i></a>
                    </div>
            </div>
        <hr/>
        {% for sdic in sdict %}
            <div class="row">
                        <div class="col-md-3 col-xs-3">
                            <img src="{{ sdic.photo.url }}" width="100%", height="100%", class="img-responsive img-thumbnail ">
                        </div>
                        <div class="col-md-9 col-xs-9">
                            {{ sdic.name }}
                            <div class="row">
                                <br/>
                            <div class="col-md-5 col-xs-5" style="font-size:20px; font-weight:bold;">
                                {% store_sell_list sdic.pk %} 번
                            </div>
                            <div class="col-xs-7" align="right">
                            <a href="{% url 'store:store_sell_list' sdic.pk %}" style="color:#C3C3C3;font-weight:bold;">가게 놀러가기 <i class="fas fa-angle-right"></i></a>
                            </div>
                        </div></div>
                    </div> <hr/>
        {% endfor %}
    </div>


{% endblock %}