{% extends "store/layout.html" %}

{% block store_content %}
<div>
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" ><a href="{% url "store:store_sell_list" stores.pk %}" aria-controls="home" role="tab" >물품들<span class="badge"> {{ stores.user.item_set.all.count }}</span></a></li>
    <li role="presentation" class="active"><a href="{% url "store:store_grade" stores.pk %}" aria-controls="profile" role="tab" >가게 평점<span class="badge">{{ stores.storegrade_set.all.count }}</span></a></li>
    <li role="presentation"><a href="{% url "store:store_question" stores.pk %}" aria-controls="messages" role="tab" >가게 문의<span class="badge">{{ stores.questioncomment_set.all.count }}</span></a></li>
    <li role="presentation"><a href="{% url "mypage:follow_new" stores.pk %}" aria-controls="settings" role="tab" ><i class="fas fa-user-plus"></i>팔로잉하기</a></li>
  </ul>
</div>
<br/>

<div align="right">
    <a href="{% url 'store:store_grade' stores.pk %}?sort=recent">최신순</a>·
    <a href="{% url 'store:store_grade' stores.pk %}?sort=past">과거순</a>·
    <a href="{% url 'store:store_grade' stores.pk %}?sort=highgrade">평점 높은순</a>·
    <a href="{% url 'store:store_grade' stores.pk %}?sort=rowgrade">평점 낮은순</a>
</div>
<br/>

{% for grade in grades %}

     <div class="well">
         <h4><a href="{% url 'store:store_sell_list' grade.author.storeprofile.pk %}">{{ grade.author }}</a></h4>
         <div align="right" style="display: inline;float: right;" >
            {% if request.user.pk == grade.author.pk %}
              <a href="{% url "store:store_grade_edit" pk=stores.pk gid=grade.pk  %}">수정</a> /
              <a href="{% url "store:store_grade_del" pk=stores.pk gid=grade.pk  %}">삭제</a>
              {% endif %}
            </div>

            {{ grade.get_rating_display }}&nbsp;&nbsp;<i class="far fa-clock"></i> {{ grade.created_at | date:"M d일, y년" }} <br/>
         <h5>{{ grade.grade_comment | linebreaks }} </h5>
     </div>
    {% empty %}
    <h4>가게 평점이 없습니다.</h4>

{% endfor %}

{% endblock %}