{% extends "layout.html" %}
{% block head %}
<style>
    .rating {
      float:left;
    }

    /* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
      follow these rules. Every browser that supports :checked also supports :not(), so
      it doesn’t make the test unnecessarily selective */
    .rating:not(:checked) > input {
        position:absolute;
        top:-9999px;
        clip:rect(0,0,0,0);
    }

    .rating:not(:checked) > label {
        float:right;
        width:1em;
        /* padding:0 .1em; */
        overflow:hidden;
        white-space:nowrap;
        cursor:pointer;
        font-size:300%;
        /* line-height:1.2; */
        color:#ddd;
    }

    .rating:not(:checked) > label:before {
        content: '★ ';
    }

    .rating > input:checked ~ label {
        color: yellow;

    }

    .rating:not(:checked) > label:hover,
    .rating:not(:checked) > label:hover ~ label {
        color: yellow;

    }

    .rating > input:checked + label:hover,
    .rating > input:checked + label:hover ~ label,
    .rating > input:checked ~ label:hover,
    .rating > input:checked ~ label:hover ~ label,
    .rating > label:hover ~ input:checked ~ label {
        color: yellow;

    }

    .rating > label:active {
        position:relative;
        top:2px;
        left:2px;
    }

</style>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h2>구매 정보</h2>
    </div>
    <div class="col-sm-12">
        <h4>판매자:</h4> {{ items.user.storeprofile.name }}
    </div>
    <div class="col-sm-12">
        <h4>상품명:</h4> {{ items.title }}
    </div>
    <div class="col-sm-12">
        <img src="{{ items.itemimage.photo.url }}"/>
    </div>
</div>
<hr/>
<form action="" method="POST" enctype="multipart/form-data">
     <div class="well">
     {% csrf_token %}
         <h3 align="center"> 거래는 어떠셨나요?</h3>
         <div class="container">
            <div class="row">
            <div class="rating">
              <input type="radio" id="star5" name="rating" value="5" /><label for="star5" >5 stars</label>
              <input type="radio" id="star4" name="rating" value="4" /><label for="star4" >4 stars</label>
              <input type="radio" id="star3" name="rating" value="3" /><label for="star3" >3 stars</label>
              <input type="radio" id="star2" name="rating" value="2" /><label for="star2" >2 stars</label>
              <input type="radio" id="star1" name="rating" value="1" /><label for="star1" >1 star</label>
            </div>
            </div>
        </div>
        {{ form.grade_comment }}<br/>

    <input type="submit" class="btn btn-primary" value="등록하기"/>
     </div>
</form>

{% endblock content %}