{% extends "store/layout.html" %}
{% load trade_tags %}

{% block store_content %}
<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation" class="active"><a href="{% url "store:store_sell_list" stores.pk %}" aria-controls="home" role="tab" >물품들<span class="badge"> {{ stores.user.item_set.all.count }}</span></a></li>
    <li role="presentation"><a href="{% url "store:store_grade" stores.pk %}" aria-controls="profile" role="tab" >가게 평점<span class="badge">{{ stores.storegrade_set.all.count }}</span></a></li>
    <li role="presentation"><a href="{% url "store:store_question" stores.pk %}" aria-controls="messages" role="tab" >가게 문의<span class="badge">{{ stores.questioncomment_set.all.count }}</span></a></li>
  </ul>

</div>

<div class="container-fluid text-center">
    <div class="row">
    {% for item in stores.user.item_set.all %}
        <div class="col-sm-6 col-md-3 col-xs-12" style="padding:10px">
            {% item_block item %}
            {% if request.user == stores.user %}
                <div class="col-xs-6 text-center" >
                    <a href="{% url "trade:item_update" item.pk %}">
                        <button class="btn btn-primary col-xs-12">수정</button>
                    </a>
                </div>
                <div class="col-xs-6 text-center">
                    <a href="{% url "trade:item_delete" item.pk %}">
                        <button class="btn col-xs-12" style="background:red; color:white;">삭제</button>
                    </a>
                </div>
            {% endif %}
        </div>
    {% empty %}
        <h4 class="text-center">물품이 없습니다</h4>

    {% endfor %}

    </div>
</div>

{% endblock %}


