{% extends "store/layout.html" %}
{% load trade_tags %}

{% block store_content %}
<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="{% url "store:store_sell_list" stores.pk %}" aria-controls="home" role="tab" >물품들<span class="badge"> {{ stores.user.item_set.all.count }}</span></a></li>
    <li role="presentation"><a href="{% url "store:store_grade" stores.pk %}" aria-controls="profile" role="tab" >가게 평점<span class="badge">{{ stores.storegrade_set.all.count }}</span></a></li>
    <li role="presentation"><a href="{% url "store:store_question" stores.pk %}" aria-controls="messages" role="tab" >가게 문의<span class="badge">{{ stores.questioncomment_set.all.count }}</span></a></li>
    <li role="presentation"><a href="{% url "mypage:follow_new" stores.pk %}" aria-controls="settings" role="tab" ><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>팔로잉하기</a></li>
  </ul>

</div>

    {% for item in stores.user.item_set.all %}

        {% if item.user == request.user %}
            <a href="{% url "trade:item_update" item.pk %}">수정하기</a>
            <a href="{% url "trade:item_delete" item.pk %}">삭제하기</a>
        {% endif %}

        {% item_block item %}

    <hr>

    {% empty %}
    <h4>물품을 찾을 수 없습니다..</h4>

    {% endfor %}
{% endblock %}


