{% extends "store/layout.html" %}
{% load store.store_tags %}

{% block store_head %}
<style>
    body{ margin-top:20px;}
.glyphicon { margin-right:5px;}
.rating .fas .far {font-size: 22px;}
.rating-num { margin-top:0px;font-size: 54px; }
.progress { margin-bottom: 5px;}
.progress-bar { text-align: left; }
.rating-desc .col-md-3 {padding-right: 0px;}
.sr-only { margin-left: 5px;overflow: visible;clip: auto; }
</style>
{% endblock %}
{% store_rating stores.pk as end %}
{% block store_content %}
<div>
  <ul class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation" ><a href="{% url "store:store_sell_list" stores.pk %}" aria-controls="home" role="tab" >물품들<span class="badge"> {{ stores.user.item_set.all.count }}</span></a></li>
    <li role="presentation" class="active"><a href="{% url "store:store_grade" stores.pk %}" aria-controls="profile" role="tab" >가게 평점<span class="badge">{{ stores.storegrade_set.all.count }}</span></a></li>
    <li role="presentation"><a href="{% url "store:store_question" stores.pk %}" aria-controls="messages" role="tab" >가게 문의<span class="badge">{{ stores.questioncomment_set.all.count }}</span></a></li>
  </ul>
</div>
<br/>

    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-xs-12 col-md-4 text-center">
                        <h1 class="rating-num">
                            {% if stores.storegrade_set.all.count == 0 %}
                                0
                            {% else %}
                                {{ end }}
                            {% endif %}</h1>
                        <div class="rating">
                            {% if end == 0 %}
                            <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                            {% elif end < 1.5 %}
                            <i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                            {% elif end < 2.0 %}
                            <i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                            {% elif end < 2.5 %}
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                            {% elif end < 3.0 %}
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                            {% elif end < 3.5 %}
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                            {% elif end < 4.0 %}
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i>
                            {% elif end < 4.5 %}
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                            {% elif end < 5.0 %}
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                            {% elif end == 5.0 %}
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                            {% endif %}
                        </div>
                        <div>
                           <i class="fas fa-user"></i> {{ stores.storegrade_set.all.count }} total
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-5">
                        <div class="row rating-desc">
                            <div class="col-xs-3 col-md-3 text-right">
                                <i class="fas fa-star"></i>5
                            </div>
                            <div class="col-xs-8 col-md-9">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-default" role="progressbar" aria-valuenow="20"
                                        aria-valuemin="0" aria-valuemax="100" style="width: {% store_rating_percent stores.pk 5 %}%">
                                        <span class="sr-only">{% store_rating_percent stores.pk 5 %}%</span>
                                    </div>
                                </div>
                            </div>
                            <!-- end 5 -->
                            <div class="col-xs-3 col-md-3 text-right">
                                <i class="fas fa-star"></i>4
                            </div>
                            <div class="col-xs-8 col-md-9">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20"
                                        aria-valuemin="0" aria-valuemax="100" style="width: {% store_rating_percent stores.pk 4 %}%">
                                        <span class="sr-only">{% store_rating_percent stores.pk 4 %}%</span>
                                    </div>
                                </div>
                            </div>
                            <!-- end 4 -->
                            <div class="col-xs-3 col-md-3 text-right">
                                <i class="fas fa-star"></i>3
                            </div>
                            <div class="col-xs-8 col-md-9">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20"
                                        aria-valuemin="0" aria-valuemax="100" style="width: {% store_rating_percent stores.pk 3 %}%">
                                        <span class="sr-only">{% store_rating_percent stores.pk 3 %}%</span>
                                    </div>
                                </div>
                            </div>
                            <!-- end 3 -->
                            <div class="col-xs-3 col-md-3 text-right">
                                <i class="fas fa-star"></i>2
                            </div>
                            <div class="col-xs-8 col-md-9">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="20"
                                        aria-valuemin="0" aria-valuemax="100" style="width: {% store_rating_percent stores.pk 2 %}%">
                                        <span class="sr-only">{% store_rating_percent stores.pk 2 %}%</span>
                                    </div>
                                </div>
                            </div>
                            <!-- end 2 -->
                            <div class="col-xs-3 col-md-3 text-right">
                                <i class="fas fa-star"></i>1
                            </div>
                            <div class="col-xs-8 col-md-9">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80"
                                        aria-valuemin="0" aria-valuemax="100" style="width: {% store_rating_percent stores.pk 1 %}%">
                                        <span class="sr-only">{% store_rating_percent stores.pk 1 %}%</span>
                                    </div>
                                </div>
                            </div>
                            <!-- end 1 -->
                        </div>
                        <!-- end row -->
                    </div>
                </div>
            </div>
        </div>
    </div>

<div align="right">
    <a href="{% url 'store:store_grade' stores.pk %}?sort=recent">최신순</a>·
    <a href="{% url 'store:store_grade' stores.pk %}?sort=past">과거순</a>·
    <a href="{% url 'store:store_grade' stores.pk %}?sort=highgrade">평점 높은순</a>·
    <a href="{% url 'store:store_grade' stores.pk %}?sort=rowgrade">평점 낮은순</a>
</div>
<br/>

{% for grade in grades %}

     <div class="well">
         <h4><a href="{% url 'store:store_sell_list' grade.author.storeprofile.pk %}">{{ grade.author }}</a></h4>
         <div align="right" style="display: inline;float: right;" >
            {% if request.user.pk == grade.author.pk %}
              <a href="{% url "store:store_grade_edit" pk=stores.pk gid=grade.pk  %}">수정</a> /
              <a href="{% url "store:store_grade_del" pk=stores.pk gid=grade.pk  %}">삭제</a>
              {% endif %}
            </div>
            {{ grade.get_rating_display }}&nbsp;&nbsp;<i class="far fa-clock"></i> {{ grade.created_at | date:"M d일, y년" }} <br/>
         <h5>{{ grade.grade_comment | linebreaks }} </h5>
     </div>
    {% empty %}
    <h4>가게 평점이 없습니다.</h4>

{% endfor %}

{% endblock %}