{% extends "layout.html" %}

{% block head %}

<style>
    .img-upload {
      display: inline-block;
      padding: .5em .75em;
      color: #fff;
      font-size: inherit;
      line-height: normal;
      vertical-align: middle;
      background-color: gray;
      cursor: pointer;
      border: none;
      border-bottom-color: #e2e2e2;
      border-radius: .25em;
    }
    .img-upload:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    }
    #dropZone {
        cursor: pointer;
    }
</style>

{% endblock %}

{% block content %}

<form class="form-horizontal" action="" method="POST" enctype="multipart/form-data">
     {% csrf_token %}
    <div class="row">
        <div class="col-sm-11 col-sm-offset-1 text-center">
            <h2><small>가게 이름을 바꿔보세요</small></h2>
        </div>
        <div class="col-sm-12">
             {{ form.name }}
        </div>
        <br/>
        <div class="col-sm-12">

            <div class="form-group">
                <div class="col-sm-11 col-sm-offset-1 text-center">
                    <h2><small>가게 프로필을 바꿔보세요</small></h2>
                </div>
                <div class="col-sm-11 col-sm-offset-1 text-center">
                    <img src="{{ request.user.storeprofile.photo.url }}"> <br/>
                    {{ form.photo }}
                </div>
            </div>
            <br/>
            <div class="col-sm-11 col-sm-offset-1 text-center">
                    <h2><small>가게 코멘트를 바꿔보세요</small></h2>
                </div>
            <div class="col-sm-12">
                {{ form.comment }}
            </div>
        </div>
    </div>
    <br/>

    <div class="text-center">
        <input type="submit" class="btn btn-primary btn-lg" value="등록하기">
    </div>

</form>

{% endblock %}
{% block extra_content %}
<script src="https://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript">


    //이미지 파일 변수
    var file = null;

    // 파일 리스트 번호
    var fileIndex = 0;
    // 등록할 전체 파일 사이즈
    var totalFileSize = 0;
    // 파일 리스트
    var fileList = new Array();
    // 파일 사이즈 리스트
    var fileSizeList = new Array();
    // 등록 가능한 파일 사이즈 MB
    var uploadSize = 5;
    // 등록 가능한 총 파일 사이즈 MB
    var maxUploadSize = 5;
    // 등록 가능한 총 파일 개수
    var maxUploadLength = 1;

    $(function (){
        // 파일 드롭 다운
        fileDropDown();
    });

    // 파일 드롭 다운
    function fileDropDown(){
        var dropZone = $("#dropZone");
        //Drag기능
        dropZone.on('dragenter',function(e){
            e.stopPropagation();
            e.preventDefault();
            // 드롭다운 영역 css
            dropZone.css('background-color','#E3F2FC');
        });
        dropZone.on('dragleave',function(e){
            e.stopPropagation();
            e.preventDefault();
            // 드롭다운 영역 css
            dropZone.css('background-color','#dddddd');
        });
        dropZone.on('dragover',function(e){
            e.stopPropagation();
            e.preventDefault();
            // 드롭다운 영역 css
            dropZone.css('background-color','#E3F2FC');
        });
        dropZone.on('drop',function(e){
            e.preventDefault();
            // 드롭다운 영역 css
            dropZone.css('background-color','#dddddd');

            var files = e.originalEvent.dataTransfer.files;
            if(files != null){
                if(files.length < 1){
                    $('#error_photo').html('<div class="text-center alert alert-warning alert-dismissible" role="alert">폴더는 업로드가 불가능합니다.</div>');
                    return;
                }
                selectFile(files)
            }else{
                $('#error_photo').html('<div class="text-center alert alert-warning alert-dismissible" role="alert">오류가 발생했습니다. 관리자에게 문의해주세요.</div>');
            }
        });
    }

    $('#{{ form.photo.id_for_label }}').change(function(){
        const target = document.getElementsByName('{{ form.photo.name }}');
        selectFile(target[0].files)
    });

    // 파일 선택시
    function selectFile(fileObject){
        var files = null;

        if(fileObject != null){
            // 파일 Drag 이용하여 등록시
            files = fileObject;
        }else{
            // 직접 파일 등록시
            files = $('#{{ form.photo.id_for_label }}' + fileIndex)[0].files;
        }

        // 다중파일 등록
        if(files != null){
            for(var i = 0; i < 1; i++){
                if(fileList.length < 1){
                    // 파일 이름
                    var fileName = files[0].name;
                    var fileNameArr = fileName.split("\.");
                    // 확장자
                    var ext = fileNameArr[fileNameArr.length - 1];
                    // 파일 사이즈(단위 :MB)
                    var fileSize = files[0].size / 1024 / 1024;

                    if($.inArray(ext, ['exe', 'bat', 'sh', 'java', 'jsp', 'html', 'js', 'css', 'xml']) >= 0){
                        // 확장자 체크
                        $('#error_photo').html('<div class="text-center alert alert-warning alert-dismissible" role="alert">image 파일만 올려주세요.</div>');
                        break;
                    }else if(fileSize > uploadSize){
                        // 파일 사이즈 체크
                        $('#error_photo').html('<div class="text-center alert alert-warning alert-dismissible" role="alert">파일당 업로드 가능 용량 '+ uploadSize +' MB를 초과하였습니다.</div>');
                        break;
                    }else{
                        // 전체 파일 사이즈
                        totalFileSize += fileSize;

                        // 파일 배열에 넣기
                        fileList[fileIndex] = files[0];

                        // 파일 사이즈 배열에 넣기
                        fileSizeList[fileIndex] = fileSize;

                        // 업로드 파일 목록 생성
                        addFileList(fileIndex, fileName, fileSize, files[0]);

                        // 파일 번호 증가
                        fileIndex++;
                    }
                }else{
                    alert('프로필 이미지는 한 개만 업로드 가능합니다.');
                    fileList
                }
            }
        }else{
            $('#error_photo').html('<div class="text-center alert alert-warning alert-dismissible" role="alert">오류가 발생했습니다. 관리자에게 문의해주세요.</div>');
        }


        var html = "";
        html += '개수: <b>' + Object.keys(fileList).length + '</b> / ' + maxUploadLength + ' &nbsp&nbsp';
        html += '용량: <b>' + totalFileSize.toFixed(2) + '</b> / ' + maxUploadSize + ' MB';

        $('.img-help').html(html);
    }

    // 업로드 파일 목록 생성
    function addFileList(fIndex, fileName, fileSize, file){
        var html = "";
        html += '<div id="fileTr_' + fIndex + '" class="file col-xs-4 col-md-2" style="padding-bottom:10px">';
        html += '<img class="img-rounded thumbnail" style="cursor: pointer;border: 1px solid #dddddd" onclick="deleteFile(' + fIndex + '); return false;" width="70px" height="70px" src="'+URL.createObjectURL(file)+'">'
        html += '</div>';

        $('.fileList').prepend(html);
        $("#upload_help").empty();
    }

    // 업로드 파일 삭제
    function deleteFile(fIndex){
        // 전체 파일 사이즈 수정
        totalFileSize -= fileSizeList[fIndex];

        // 파일 배열에서 삭제
        delete fileList[fIndex];

        // 파일 사이즈 배열 삭제
        delete fileSizeList[fIndex];

        // 업로드 파일 테이블 목록에서 삭제
        $("#fileTr_" + fIndex).remove();

        var html = "";
        html += '개수: <b>' + Object.keys(fileList).length + '</b> / ' + maxUploadLength + ' &nbsp&nbsp';
        html += '용량: <b>' + totalFileSize.toFixed(2) + '</b> / ' + maxUploadSize + ' MB';

        $('.img-help').html(html);

        // 아무 파일이 없을시 생기는 html태그
        var uploadFileList = Object.keys(fileList);
        if(uploadFileList.length == 0){
            var html = "";
            html += '<i class="fas fa-arrow-alt-circle-down fa-5x"></i>';
            html += '<h4>이미지를 드래그 하거나 파일을 불러오세요</h4>';

            $('#upload_help').html(html);
            $('.img-help').empty();

        }
    }

    // 파일 등록
    function uploadFile(){
        // 등록할 파일 리스트
        var uploadFileList = Object.keys(fileList);
       // 등록할 파일 리스트를 formData로 데이터 입력
        var form = $('#uploadForm')[0];
        var formData = new FormData(form);
        formData.delete('{{ form.photo.name }}');
        for(var i = 0; i < uploadFileList.length; i++){
            formData.append('{{ form.photo.name }}', fileList[uploadFileList[0]]);
        }

        $.ajax({
            url:"{{ request.path }}",
            data:formData,
            type:'POST',
            enctype:'multipart/form-data',
            processData:false,
            contentType:false,
            dataType:'json',
            cache:false,
            success:function(result){
                if(result.is_valid){
                    window.location.href = '{% url "store:store_sell_list" request.user.storeprofile.id %}';
                }else{
                    for (var key in result.error){
                        $('#error_'+key).html('<div class="text-center alert alert-warning alert-dismissible" role="alert">' + result.error[key][0] + '</div>');
                    }
                }
            }
        });
    }
</script>
{% endblock %}
