{% extends "store/layout.html" %}
{% load trade_tags %}
{% block store_head %}
{% load static %}
<style>

.bubble
{
    position: relative;
    padding: 10px;
    background: #ededed;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.bubble:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 14px 23px 14px 0;
    border-color: transparent #ededed;
    display: block;
    width: 0;
    z-index: 1;
    left: -23px;
    top: 18px;
}

.imggrid{
    max-height: 200px;
    max-width: 200px;
}
 .block {
  display: block;
  width: 60%;
  height: 120px;
  border: none;
  background-color: #4CAF50;
  cursor: pointer;
  text-align: center;
}
.mint_active { color:#0fd9a6; font-weight:bold; }
</style>

    <style>
        .more {
            overflow: hidden;
        }
    </style>

{% endblock %}

{% block store_content %}

<!-- 문의 글 작성 부분 -->
    {% if request.user.pk != stores.user.pk %}
        <form class="form-horizontal" action="" method="POST">
            <div class="col-xs-offset-1 col-xs-10">
                {% csrf_token %}
                <div class="form-group">
                    <div class="col-xs-12">
                        {{ form.comment }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12 text-right">
                        <button type="submit" class="btn btn-default"><i class="fas fa-comments"></i> 문의하기</button>
                    </div>
                </div>
            </div>
        </form>
    {% endif %}

    <!-- 문의 글 정렬 -->
    {% if user.is_authenticated and stores.questioncomment_set.all.count > 0 %}
    <div class="row">
        <div class="col-xs-12" align="right">
            <a href="{% url "store:store_question" stores.pk %}?&sort=all" >전체보기</a>
            <small style="padding:8px;"> | </small>
            <a class="mint_active" href="{% url "store:store_question" stores.pk %}?&sort=my" >내가 쓴 글만 보기</a>
        </div>
    </div><hr/>
    {% endif %}


    {% for comm in comms %}

<!-- 문의 글 list -->
        <div class="row" id="block-{{ comm.id }}">

            <div class="col-md-3 col-xs-3 imggrid" align="center">
                <img src="{{ comm.author.storeprofile.photo.url }}" class="img-responsive img-thumbnail" width="100px" height="100px" />
            </div>

            <div class="col-md-8 col-xs-8" >
                <div class="bubble" >
                    <a href="{% url 'store:store_sell_list' comm.author.storeprofile.pk %}">{{ comm.author }}</a>   
                    &nbsp;&nbsp;  
                    <i class="far fa-clock"></i>{% simple_time comm.updated_at %}

                    <!--댓글 수정 삭제 -->
                    <div align="right" style="display: inline;float: right;" >
                        {% if request.user.pk == comm.author.pk %}
                            <a class="edit" href="#" data-form="{% url "store:store_question_edit" stores.id comm.id %}">
                                <i class="fas fa-edit" data-toggle="modal" data-target="#edit-modal" style="margin-right:10px"></i>
                            </a>
                            <a class="del" href="#" data-form="{% url "store:store_question_del" stores.id comm.id %}" >
                                <i class="fas fa-trash-alt" data-toggle="modal" data-target="#del-modal"  style="margin-right:10px"></i>
                            </a>
                        {% endif %}
                    </div>
                    <hr/>
                    <div id="cmt-{{ comm.id }}" class="more" style="padding-top:10px;">{{ comm.comment|linebreaks }}</div>
                </div>
            </div>
        </div>
        <br/>

<!-- 문의 글 답변(가게 주인)list -->
        {% for replay in comm.replies.all %}
            <div class="row" id="block-{{ replay.id }}">

                <div class="col-md-1 col-xs-1" align="right"><i class="fas fa-reply fa-rotate-180"></i></div>
                <div class="col-md-3 col-xs-3 imggrid" align="center">
                    <img src="{{ replay.author.storeprofile.photo.url }}" class="img-responsive img-thumbnail" width="100px" height="100px" />
                </div>

                <div class="col-md-8 col-xs-7">
                    <div class="bubble" >
                        {{ replay.author }}  
                        &nbsp;&nbsp;  
                        <i class="far fa-clock"></i> {% simple_time replay.updated_at %}

                        <!--대댓글 수정 삭제 -->
                        <div align="right" style="display: inline;float: right;" >                            
                            {% if request.user.pk == replay.author.pk %}
                                <a href="{% url "store:store_question_edit" pk=stores.pk cid=replay.pk  %}"> 
                                    <i class="fas fa-edit" style="margin-right:10px"></i>
                                </a>
                                <a class="del" href="#" data-form="{% url "store:store_question_del" stores.id replay.id %}" >
                                    <i class="fas fa-trash-alt" data-toggle="modal" data-target="#del-modal"  style="margin-right:10px"></i>
                                </a>
                            {% endif %}
                        </div>
                        
                        <hr/>
                        <div class="more">{{ replay.comment | linebreaks }}</div>

                    </div>
                </div>
            </div>
        {% endfor %}

<!-- 대댓글 작성 폼(가게 주인만 가능) -->
        {% if request.user.pk == stores.user.pk %}
            <br/>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-1 col-xs-1" align="right"><i class="fas fa-reply fa-rotate-180"></i></div>
                    <div class="col-md-9 col-xs-7">
                        {{ form.comment }}

                        <input type="hidden" name="parent_id" value="{{ comm.id }}">
                    </div>
                    <div class="col-md-2 col-xs-3">
                        <input type="submit" class="btn btn-default" style="height:120px;width:100%" value="등록">
                    </div>
                </div>
            </form>

        {% endif %}
        
<!-- 글 삭제 모달 -->
        <div class="modal fade myModal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"></div>
    {% empty %}
        <div class="col-xs-12">
            <h4 align="center"><i class="far fa-sad-tear"></i>문의글이 없습니다.</h4>
        </div>
    {% endfor %}

{% endblock %}


{% block store_extra_content %}
<style>
        pre{
            padding: 0px;
            border: none;
            font-family: nanumgothic, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 13px;
            color: #777777;
            background-color: transparent;
        }
</style>
<script src="{% static 'js/readmore-2.2.1.min.js' %}" ></script> <!-- Readmore.js -->
    <script>
        jQuery(document).ready(function() {

        jQuery('.more').readmore({
            speed: 300,
            collapsedHeight: 60,
            moreLink: '<a href="#">더 보기</a>',
            lessLink: '<a href="#">다시 닫기</a>',
            heightMargin: 16
        });

    });
</script>
    <script>
        var edit_url = '';
        var del_url = '';
//sort highlight
        $(document).ready(function() {
          $('a.mint_active').removeClass('mint_active');
          if ('{{ sort }}' == ''){
              $('a[href="' + location.pathname + '"]').addClass('mint_active');
          }
          $('a[href="' + location.pathname + '?&sort={{ sort }}"]').addClass('mint_active');
        });

//수정 모달
        $(".edit").click(function(ev) { // for each edit contact url
            ev.preventDefault(); // prevent navigation
            edit_url = $(this).data("form"); // get the contact form url
            $("#myModal").load(edit_url, function() { // load the url into the modal
                $(this).modal("show"); // display the modal on url load
            });
            return false; // prevent the click propagation
        });

        function editSubmit(){
            var params = jQuery("#edit-form").serialize();
            console.log(params)
            $.ajax({
                type: 'POST',
                url: edit_url,
                data: params,
                success: function(data) {
                    $('#cmt-'+data.id).html('<pre>'+data.msg+'</pre>');
                }
            });
            return false;
        }

//삭제 모달
         $(".del").click(function(ev) { // for each edit contact url
            ev.preventDefault(); // prevent navigation
            var del_url = $(this).data("form"); // get the contact form url
            $("#myModal").load(del_url, function() { // load the url into the modal
                $(this).modal("show"); // display the modal on url load
                $("#del-form").attr("action", del_url);
            });
            return false; // prevent the click propagation
        });

    </script>
{% endblock %}