{% extends "store/layout.html" %}

{% block store_content %}

<div>
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" ><a href="{% url "store:store_sell_list" stores.pk %}" aria-controls="home" role="tab" >물품들<span class="badge"> {{ stores.user.item_set.all.count }}</span></a></li>
    <li role="presentation"><a href="{% url "store:store_grade" stores.pk %}" aria-controls="profile" role="tab" >가게 평점<span class="badge">{{ stores.storegrade_set.all.count }}</span></a></li>
    <li role="presentation" class="active"><a href="{% url "store:store_question" stores.pk %}" aria-controls="messages" role="tab" >가게 문의<span class="badge">{{ stores.questioncomment_set.all.count }}</span></a></li>


  </ul>

</div><br/>

{% if request.user.pk != stores.user.pk %}
<form action="" method="POST">
     {% csrf_token %}

     {{ form.comment }}
    <input type="submit" value="등록">
{% endif %}

</form>

{% for comm in comms %}

    <div class="panel panel-default">
        <div class="panel-heading">
            {{ comm.author }}  &nbsp;&nbsp;  <i class="far fa-clock"></i>{{ comm.created_at | date:"M d일, y년" }}
            <div align="right" style="display: inline;float: right;" >
            {% if request.user.pk == comm.author.pk %}
              <a href="{% url "store:store_question_edit" pk=stores.pk cid=comm.pk  %}">수정</a> /
              <a href="{% url "store:store_question_del" pk=stores.pk cid=comm.pk  %}">삭제</a>
              {% endif %}
            </div>
        </div>
      <div class="panel-body">
        {{ comm.comment | linebreaks }}
          <br/>

      </div>

    {% for replay in comm.replies.all %}
    <div class="panel panel-default">
        <div class="panel-heading">
            {{ replay.author }}  &nbsp;&nbsp;  <i class="far fa-clock"></i>{{ replay.created_at | date:"M d일, y년" }}
            <div align="right" style="display: inline;float: right;" >
            {% if request.user.pk == replay.author.pk %}
              <a href="{% url "store:store_question_edit" pk=stores.pk cid=replay.pk  %}">수정</a> /
              <a href="{% url "store:store_question_del" pk=stores.pk cid=replay.pk  %}">삭제</a>
              {% endif %}
            </div>
        </div>
      <div class="panel-body">
        {{ replay.comment | linebreaks }}
          <br/>

      </div>
    </div>
    {% endfor %}
    {% if request.user.pk == stores.user.pk %}
        <h5>Replay</h5>

        <form action="." method="post">
            {% csrf_token %}
            {{ form.as_table }}
            <input type="hidden" name="parent_id" value="{{ comm.id }}">
            <input type="submit" value="등록하기">
        </form>

    {% endif %}
    </div>

    {% empty %}
    <h4>There are no comments yet.</h4>
{% endfor %}
{% endblock %}