{% extends "accounts/login_layout.html" %}

{% block login_content %}
<form action="" method="POST">
    {% csrf_token %}
    <h4>비밀번호 찾기</h4>
    {{ form.username }}
    {% if form.username.errors %}
        {% for error in form.username.errors %}
    <div class="col-xs-12 text-center" style="padding-top: 10px;">
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    </div>
        {% endfor %}
    {% endif %}
    </br>
    {{ form.email }}
    {% if form.email.errors %}
        {% for error in form.email.errors %}
    <div class="col-xs-12 text-center" style="padding-top: 10px;">
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    </div>
        {% endfor %}
    {% endif %}
    </br>
    <div class="wrapper">
        <button class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> 이메일 보내기</button>
    </div>
</form>
<hr class="login">
<div class="text-center">
    <a href="{% url "accounts:id_find" %}"><button class="btn btn-info">아이디 찾기</button></a>
</div>
{% endblock %}