{% extends "accounts/layout.html" %}

{% block content %}

<h3> ID </h3>
        {{ user.username }}
<hr>
<h3> 닉네임 </h3>
        {{ profile.nick_name }}
<hr>
<h3> 주소 </h3>
        {{ profile.post_code }} {{ profile.address }} {{ profile.detail_address }}
<hr>
<h3> 연락처 </h3>
        {{ profile.phone }}
<hr>
<h3> 계좌번호 </h3>
        {{ profile.account_num }}
<hr>
<h3> 이메일 </h3>
        {{ user.email }}
<hr>

<h4>구매 내역</h4>
        <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>상품명</th>
                <th>결제가격</th>
                <th>처리결과</th>
                <th>결과일시</th>
                <th>영수증</th>
                <th>판매자 정보</th>
            </tr>
        </thead>
        <tbody>
            {% for order in order_list %}
            <tr>
                <td>{{ order.name }}</td>
                <td>{{ order.amount_html }}</td>
                <td>{{ order.status_html }}</td>
                <td>{{ order.paid_at|default:"-" }}</td>
                <td>{{ order.receipt_link|default:"-" }}</td>
                <td>{{ order.item.user.profile.nick_name }}</td>
            </tr>
            {% endfor %}
        </tbody>
</table>

<hr>

<h4>판매 내역</h4>
<table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>상품명</th>
                <th>결제가격</th>
                <th>처리결과</th>
                <th>결과일시</th>
                <th>영수증</th>
                <th>구매자 정보</th>
            </tr>
        </thead>
        <tbody>
            {% for sell in sell_list %}
            <tr>
                <td>{{ sell.item }}</td>
                <td>{{ sell.amount_html }}</td>
                <td>{{ sell.status_html }}</td>
                <td>{{ sell.paid_at|default:"-" }}</td>
                <td>{{ sell.receipt_link|default:"-" }}</td>
                <td>{{ sell.user.profile.nick_name }}</td>
            </tr>
            {% endfor %}
        </tbody>
</table>

<hr>


<a href="{% url "accounts:profile_edit" %}"> 프로필수정 </a><br>
<a href="{% url "accounts:pw_edit" %}"> 비밀번호변경 </a>

{% endblock %}