{% extends "mypage/layout.html" %}

{% block mypage_content %}
<div class="thumbnail" style="padding:20px">
<div class="form-horizontal">
        <div class="form-group">
            <div class="form-group">
                <div class="col-sm-12 text-center">
                    <h2><i class="fas fa-address-card" style="color:#368AFF"></i> 내 정보</h2>
                </div>
            </div>
        </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">ID</label>
              <div class=" col-sm-10">
                <input type="text" class="form-control col-sm-10" readonly required value="{{ user.username }}">
              </div>
          </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">연락처</label>
              <div class=" col-sm-10">
                <input type="text" class="form-control col-sm-10" readonly required value="{{ profile.phone }}">
              </div>
            </div>
          <div class="form-group">
              <label class="col-sm-2 control-label">주소</label>
              <div class=" col-sm-10">
                <input type="text" class="form-control col-sm-10" readonly required value="{{ profile.post_code }}{{ profile.address }}{{ profile.detail_address }}">
              </div>
          </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">이메일</label>
              <div class=" col-sm-10">
                <input type="text" class="form-control col-sm-10" readonly required value="{{ user.email }}">
              </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">계좌 번호</label>
              <div class=" col-sm-10">
                <input type="text" class="form-control col-sm-10" readonly required value="{{ profile.account_num }}">
              </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <a href="{% url "accounts:profile_edit" %}"><button type="button" class="btn btn-info">프로필 수정</button></a>
                    <a href="{% url "accounts:pw_edit" %}"><button type="button" class="btn btn-danger">비밀번호변경</button></a>
                    <a class="user-del" href="#" data-form="{% url "accounts:user_delete" %}" title="Edit"><button type="button" class="btn btn-default">회원탈퇴</button></a>
                </div>
            </div>
</div>

            <!-- Modal -->
            <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"></div>
</div>


<script>
    $(".user-del").click(function(ev) { // for each edit contact url
        ev.preventDefault(); // prevent navigation
        var url = $(this).data("form"); // get the contact form url
        $("#modal").load(url, function() { // load the url into the modal
            $(this).modal("show"); // display the modal on url load
            $("#del-form").attr("action", url);
        });
        return false; // prevent the click propagation
    });
</script>

{% endblock %}