{% extends "accounts/layout.html" %}

{% block accounts_extra %}
<script>
    $(document).ready(function(){

        $(".btn-primary").click(function(){
            if($("#id_policy_check_0").is(":checked") == false){
                $('#error_id_policy_check_0').html('<div class="text-center alert alert-danger alert-dismissible" role="alert">Buy&Sell 이용약관에 동의 하셔야 합니다.</div>');
                return;
            }else if($("#id_policy_check_1").is(":checked") == false){
                $('#error_id_policy_check_0').empty();
                $('#error_id_policy_check_1').html('<div class="text-center alert alert-danger alert-dismissible" role="alert">개인정보 처리방침에 동의 하셔야 합니다.</div>');
                return;
            }else{
                $("#signup").submit();
            }
        });
    });
</script>

{% endblock %}
{% block content %}
<div style="margin-top:25px">
{% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <div class="col-xs-12 text-center" style="padding-top: 10px;">
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    </div>
    {% endfor %}
{% endif %}
<form class="form-horizontal" action="" id="signup" method="POST" novalidate>
        {% csrf_token %}
        <div class="thumbnail" style="padding:20px">
        <div class="form-group">
            <div class="form-group">
                <div class="col-sm-12 text-center">
                    <h2><i class="far fa-id-card" style="color:#368AFF"></i> 회원 가입</h2><hr>
                </div>
            </div>
        </div>
          <div class="form-group">
            <label for="{{ form.username.id_for_label }}" class="col-sm-2 control-label">{{ form.username.label }}</label>
              <div class=" col-sm-10">
                {{ form.username }}
              </div>
                {% if form.username.errors %}
                    {% for error in form.username.errors %}
                <div class="col-sm-offset-2 col-sm-10 text-center" style="padding-top: 10px;">
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                </div>
                    {% endfor %}
                {% endif %}
          </div>
          <div class="form-group">
            <label for="{{ form.password1.id_for_label }}" class="col-sm-2 control-label">{{ form.password1.label }}</label>
              <div class=" col-sm-10">
                {{ form.password1 }}
              </div>
                {% if form.password1.errors %}
                    {% for error in form.password1.errors %}
                <div class="col-sm-offset-2 col-sm-10 text-center" style="padding-top: 10px;">
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                </div>
                    {% endfor %}
                {% endif %}
          </div>
          <div class="form-group">
            <label for="{{ form.password2.id_for_label }}" class="col-sm-2 control-label">{{ form.password2.label }}</label>
              <div class=" col-sm-10">
                {{ form.password2 }}
              </div>
            {% if form.password2.errors %}
                {% for error in form.password2.errors %}
            <div class="col-sm-offset-2 col-sm-10 text-center" style="padding-top: 10px;">
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            </div>
                {% endfor %}
            {% endif %}
          </div>
            <div class="form-group">
                <label for="{{ form.email.id_for_label }}" class="col-sm-2 control-label">{{ form.email.label }}</label>
              <div class=" col-sm-10">
                {{ form.email }}
              </div>
            {% if form.email.errors %}
                {% for error in form.email.errors %}
            <div class="col-sm-offset-2 col-sm-10 text-center" style="padding-top: 10px;">
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            </div>
                {% endfor %}
            {% endif %}
            </div>
            <div class="form-group">
                <label for="{{ form.phone.id_for_label }}" class="col-sm-2 control-label">{{ form.phone.label }}</label>
              <div class=" col-sm-10">
                {{ form.phone }}
              </div>
            {% if form.phone.errors %}
                {% for error in form.phone.errors %}
            <div class="col-sm-offset-2 col-sm-10 text-center" style="padding-top: 10px;">
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            </div>
                {% endfor %}
            {% endif %}
            </div>
            <div class="form-group">
                <label for="{{ form.account_num.id_for_label }}" class="col-sm-2 control-label">{{ form.account_num.label }}</label>
              <div class=" col-sm-10">
                {{ form.account_num }}
              </div>
            {% if form.account_num.errors %}
                {% for error in form.account_num.errors %}
            <div class="col-sm-offset-2 col-sm-10 text-center" style="padding-top: 10px;">
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            </div>
                {% endfor %}
            {% endif %}
            </div>
          <div class="form-group">
              <label for="{{ form.post_code.id_for_label }}" class="col-sm-2 control-label">주 소</label>
              <div class=" col-sm-10">
                  {{ form.post_code }}
              </div>
            {% if form.post_code.errors %}
                {% for error in form.post_code.errors %}
            <div class="col-sm-offset-2 col-sm-10 text-center" style="padding-top: 10px;">
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            </div>
                {% endfor %}
            {% endif %}
          </div>
          <div class="form-group">
              <div class=" col-sm-10 col-sm-offset-2">
                  {{ form.address }}
              </div>
            {% if form.address.errors %}
                {% for error in form.address.errors %}
            <div class="col-sm-offset-2 col-sm-10 text-center" style="padding-top: 10px;">
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            </div>
                {% endfor %}
            {% endif %}
          </div>
            <div class="form-group">
              <div class=" col-sm-10 col-sm-offset-2">
                {{ form.detail_address }}
              </div>
            {% if form.detail_address.errors %}
                {% for error in form.detail_address.errors %}
            <div class="col-sm-offset-2 col-sm-10 text-center" style="padding-top: 10px;">
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            </div>
                {% endfor %}
            {% endif %}
            </div>
        </div>
            <hr>
        <div class="thumbnail">
            <div class="form-group">
                <div class="form-group">
                    <div class="col-sm-12 text-center">
                        <h2><i class="far fa-check-square" style="color:red"></i> {{ form.policy_check.label }}</h2>
                    </div>
                </div>
            </div>
            <hr>
            <div class="form-group">
                <div class="col-sm-12 text-center">
                  {% for choice in form.policy_check %}
                    <div class="radio col-xs-12">
                        <h5>{{ choice }}</h5>
                        <a href="{% if choice.id_for_label == 'id_policy_check_0' %}
                            {% url "policy:policy_service" %}
                        {% elif choice.id_for_label == 'id_policy_check_1' %}
                            {% url "policy:policy_privacy" %}
                        {% else %}
                            {% url "policy:policy_location" %}
                        {% endif %}">약관보기</a>
                        <div id="error_{{ choice.id_for_label }}" class="col-md-12"></div>
                    </div>
                  {% endfor %}
              </div>
            </div>
        </div>
            <hr>
            <div class="form-group">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-primary col-xs-12">가입하기</button>
                </div>
            </div>
    </form>
</div>
{% endblock %}