{% extends "trade/layout.html" %}
{% load humanize %}
{% load hitcount_tags %}

{% block head %}
    <meta property="fb:app_id"        content="642307389514788"/>
    <meta property="og:type"          content="website"/>
    <meta property="og:url"           content="http://14.36.187.98{{ request.path }}" />
    <meta property="og:title"         content="{{ item.title }} {{ item.amount|intcomma }}원" />
    <meta property="og:description"   content="{{ item.desc|default:'-'|linebreaks }}" />
    <meta property="og:image"         content="http://14.36.187.98{{ item.photo.url }}" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width"/>

	<script>
	function sharefacebook(url) {
		window.open("http://www.facebook.com/sharer/sharer.php?u=" + url);
	}
	</script>

    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
    <script>
        Kakao.init('43b0c47e22303f599cf49a0f42e75f86');
        function sendLink() {
            Kakao.Link.sendDefault({
              objectType: 'feed',
              content: {
                title: '{{ item.title }} {{ item.amount|intcomma }}원',
                description: 'Buy & Sell에서 싸게 사자!',
                imageUrl: 'http://14.36.187.98{{ item.photo.url }}',
                link: {
                  webUrl: 'http://14.36.187.98{{ request.path }}',
                  mobileWebUrl: 'http://14.36.187.98{{ request.path }}'
                }
              },
            social: {
              viewCount: {% get_hit_count for item %},
              commentCount: {{ item.itemcomment_set.all.count }},
              sharedCount: {{ wish_ctn }}
            },
              buttons: [
                {
                  title: '빨리 사러가자!',
                  link: {
                    mobileWebUrl: 'http://14.36.187.98{{ request.path }}',
                    webUrl: 'http://14.36.187.98{{ request.path }}'
                  }
                }
              ]
            });
         }
    </script>
{% endblock %}

{% block content %}
<ol class="breadcrumb">

    {% for parent in item.category.get_ancestors %}
      <li><a href="{% url "category:category_item" parent.id %}">{{ parent }}</a></li>
    {% endfor %}

  <li class="active"><a style="color:#0fd9a6" href="{% url "category:category_item" item.category.id %}">{{ item.category }}</a></li>
</ol>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-xs-12 text-center vcenter">
            <div class="col-xs-12">
                <img style="padding:10px; height:100%; background:#999999;" src="{{ item.photo.url }}"/>
            </div>
        </div><div class="col-sm-6 col-xs-12 vcenter">
            <div class="row" style="padding-left:30px">
                <h2>{{ item.title }}</h2>
                <h1>{{ item.amount|intcomma }}<small> 원</small></h1>
            </div>
            <hr/>

            <table class="table table-hover table-borderless">
                <tr>
                    <td class="text-center"><i class="fas fa-eye"></i></td><td>{% get_hit_count for item %}</td>
                </tr>
                <tr>
                    <td class="text-center"><i class="far fa-thumbs-up"></i></td><td>{{ item.get_item_status_display }}</td>
                </tr>
                <tr>
                    <td class="text-center"><i class="fas fa-map-marker-alt"></i></td><td>{{ item.user.profile.address }}</td>
                </tr>
                <tr>
                    <td class="text-center"><i class="far fa-clock"></i></td><td>{{ item.updated_at }}</td>
                </tr>
                {% if item.pay_status == "ready" %}
                <tr>
                    <td class="text-center"><i class="far fa-handshake"></i></td>
                    <td><b style="color:blue;">{{ item.get_pay_status_display }}</b></td>
                </tr>
            </table>

            <div class="row" style="padding: 2px;">
                <div class="col-md-3">
                    <button class="btn btn-primary col-md-12 col-xs-12" style="margin-bottom:10px;" onclick="location.href='{% url "trade:order_new" item.pk %}?next={{ request.path }}'">
                        <i class="fa fa-check-circle"></i> 구매하기
                    </button>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-danger col-md-12 col-xs-12" style="margin-bottom:10px" onclick="location.href='{% url "mypage:wishlist_new" item.pk %}'">
                        <i class="fab fa-gratipay"></i> 찜 {{ wish_ctn }}
                    </button>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-info col-md-12 col-xs-12" style="margin-bottom:10px" onclick="javascript:sharefacebook('http://14.36.187.98{{ request.path }}')">
                        <i class="fab fa-facebook-square"></i> 공유하기
                    </button>
                </div>
                <div class="col-md-3">
                    <button class="btn col-md-12 col-xs-12" style="background:#e3d91b; color:white;margin-bottom:10px" onclick="javascript:sendLink()">
                        <i style="color:#444444" class="fas fa-comment"></i> 공유하기
                    </button>
                </div>

                {% else %}
                <tr>
                    <td class="text-center"><i class="far fa-handshake"></i></td>
                    <td><b style="color:red;">{{ item.get_pay_status_display }}</b></td>
                </tr>
            </table>

            <div class="row" style="padding: 2px;">
                <div class="col-md-3">
                    <button class="btn btn-primary disabled col-md-12 col-xs-12" style="margin-bottom:10px;">
                        <i class="fa fa-check-circle"></i> 구매하기
                    </button>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-danger disabled col-md-12 col-xs-12" style="margin-bottom:10px">
                        <i class="fab fa-gratipay"></i> 찜 {{ wish_ctn }}
                    </button>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-info disabled col-md-12 col-xs-12" style="margin-bottom:10px">
                        <i class="fab fa-facebook-square"></i> 공유하기
                    </button>
                </div>
                <div class="col-md-3">
                    <button class="btn disabled col-md-12 col-xs-12" style="background:#e3d91b; color:white;margin-bottom:10px">
                        <i style="color:#444444" class="fas fa-comment"></i> 공유하기
                    </button>
                </div>

                {% endif %}
            </div>
        </div>
    </div>
    <hr style="border-top: 1px solid #bbbbbb;">
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-xs-12">
            <div class="col-xs-12">
                <div class="row" >
                    <h2>상세 정보</h2>
                    <hr style="border-top: 1px solid #bbbbbb;">
                    <table class="table table-hover table-borderless">
                        <tr class="active">
                            <td style="min-width:120px">{{ item.user.profile.nick_name }}님의 말</td> <td>{{ item.desc|default:"-"|linebreaks }}</td>
                        </tr>
                        <tr>
                            <td>상태</td> <td>{{ item.get_item_status_display }}</td>
                        </tr>
                        <tr>
                            <td>거래 지역</td> <td>{{ item.user.profile.address }}</td>
                        </tr>
                        <tr class="danger">
                            <td>우려의 한마디</td> <td>사기당하지 않도록 조심해주세요!</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class=" col-xs-12">
                <div class="row">
                <!-- Comments Form -->
                    <h2>물품 문의 <b style="color:red;">{{ item.itemcomment_set.all.count }}</b></h2>
                    <hr style="border-top: 1px solid #bbbbbb;">

                    <!-- Comment with nested comments -->

                    <form class="form-horizontal" action="" method="POST">
                        {% csrf_token %}
                          <div class="form-group">
                              <div class=" col-xs-12">
                                {{ form.message }}
                              </div>
                          </div>

                        <div class="form-group">
                            <div class="text-right col-xs-12">
                                <button type="submit" class="btn btn-default"><i class="fas fa-comments"></i> 문의하기</button>
                            </div>
                        </div>
                    </form>

                    {% for comment in comments %}
                    <div class="row">
                        <div class="col-xs-2 profile-img vcenter">
                            <a href="{% url "store:store_sell_list" comment.user.storeprofile.id %}">
                                <img class="img-rounded img-thumbnail" src="{{ comment.user.storeprofile.photo.url }}"/>
                            </a>
                        </div><div class="col-xs-10 clearfix vcenter" style="padding:10px;">
                            <a href="{% url "store:store_sell_list" comment.user.storeprofile.id %}">
                                <div class="pull-left" ><b class="info">{{ comment.user.profile.nick_name }}</b></div>
                            </a>
                            <div class="pull-right">{{ comment.updated_at }}</div>
                            <br><div style="padding-top:10px">{{ comment.message|linebreaks }}</div>
                            {% if comment.user == request.user %}
                                <div class="text-right">
                                    <a href="{% url "trade:comment_update" pk=item.pk cid=comment.pk %}">
                                        <i class="fas fa-edit" style="margin-right:10px"></i></a>
                                    <a href="{% url "trade:comment_delete" pk=item.pk cid=comment.pk %}">
                                        <i class="fas fa-trash-alt" style="margin-right:10px"></i></a>
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-xs-offset-2 col-xs-10">
                            <hr>
                        </div>
                    </div>

                    <div class="row col-xs-offset-2">
                        {% for replay in comment.replies.all|dictsort:"created_at" %}
                        <div class="col-xs-2 profile-img vcenter">
                            <a href="{% url "store:store_sell_list" replay.user.storeprofile.id %}">
                                <img class="img-rounded img-thumbnail" src="{{ replay.user.storeprofile.photo.url }}"/>
                            </a>
                        </div><div class="col-xs-10 clearfix vcenter" style="padding:10px;">
                            <a href="{% url "store:store_sell_list" replay.user.storeprofile.id %}">
                                <div class="pull-left"><b class="info">{{ replay.user.profile.nick_name }}</b></div>
                            </a>
                            <div class="pull-right">{{ replay.updated_at }}</div>
                            <br><div style="padding-top:10px;">{{ replay.message }}</div>
                            {% if replay.user == request.user %}
                                <div class="text-right">
                                    <a href="{% url "trade:comment_update" pk=item.pk cid=replay.pk %}">
                                        <i class="fas fa-edit" style="margin-right:10px"></i></a>
                                    <a href="{% url "trade:comment_delete" pk=item.pk cid=replay.pk %}">
                                        <i class="fas fa-trash-alt" style="margin-right:10px"></i></a>
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-xs-offset-2 col-xs-10">
                            <hr>
                        </div>
                    {% endfor %}
                        <div class="col-xs-12">
                            <form class="form-horizontal" action="" method="POST">
                                {% csrf_token %}
                                  <div class="form-group">
                                      <div class=" col-xs-12">
                                        {{ form.message }}
                                      </div>
                                  </div>

                                <div class="form-group">
                                    <div class="text-right col-xs-12">
                                        <input type="hidden" name="parent_id" value="{{ comment.id }}">
                                        <button type="submit" class="btn btn-default"><i class="fas fa-comment-dots"></i> 댓글달기</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    {% empty %}
                    <h2 class="text-center"><small>문의가 없습니다</small></h2>
                    {% endfor %}

                </div>
            </div>
        </div>

        <div class="col-md-4 col-xs-12">
            <h2>가게 정보</h2>
            <hr style="border-top: 1px solid #bbbbbb;">

            <div class="row" style="padding:10px;">
                <div class="col-xs-4 vcenter profile-img">
                    <a href="{% url "store:store_sell_list" item.user.storeprofile.id %}">
                        <img class="img-rounded img-thumbnail" src="{{ item.user.storeprofile.photo.url }}"/>
                    </a>
                </div><div class="col-xs-8 vcenter" style="padding:10px;">
                    <a href="{% url "store:store_sell_list" item.user.storeprofile.id %}">{{ item.user.profile.nick_name }}</a> <br><br>
                    물품 {{ item.user.item_set.count }} <small style="padding:8px;"> | </small> 팔로워 {{ follow_ctn }}
                </div>
            </div>
            <hr>

            <div class="row">
                <div class=" col-xs-12">
                    <button class="btn btn-warning col-xs-12" onclick="location.href='{% url "mypage:follow_new" item.user.storeprofile.id %}'">
                        <i class="fas fa-user-plus"></i> 팔로우
                    </button>
                </div>
            </div>

            <table class="table text-center table-borderless" style="margin-top:10px">
                <tr>
                {% for it in items %}
                    <td style="max-height: 200px;">
                        <a href="{% url "trade:item_detail" it.id %}">
                            <img class="img-rounded img-thumbnail" style="height:100%; width:auto;" src="{{ it.photo.url }}"/><br>
                            <h6>{{ it.amount|intcomma }} <small>원</small></h6>
                        </a>
                {% empty %}
                    <td style="max-height: 200px;">
                        <h6>등록한 물품이 없습니다</h6>
                        <hr>
                {% endfor %}
                    </td>
                </tr>
            </table>

            {% if items_ctn > 4 %}
                <div class="row text-center" style="margin-bottom:50px">
                    <a class="col-xs-12" style="height:40px;" href="{% url "store:store_sell_list" item.user.storeprofile.id %}">
                        남은 <b style="color:red;">{{ items_ctn|add:"-4" }}개</b> 물품 보러가기
                        <hr>
                    </a>
                </div>
            {% endif %}

            {% if item.user.storeprofile.storegrade_set.all.count > 0 %}
                <h4 class="text-center">가게 후기 <b style="color:red;">{{ item.user.storeprofile.storegrade_set.all.count }}개</b></h4>
                <div class="row" style="margin-top:30px">
                    {% for grade in item.user.storeprofile.storegrade_set.all|slice:":2" %}
                        <div class="col-xs-4 profile-img vcenter">
                            <a href="{% url "store:store_sell_list" grade.author.storeprofile.id %}">
                                <img class="img-rounded img-thumbnail" src="{{ grade.author.storeprofile.photo.url }}"/>
                            </a>
                        </div><div class="col-xs-8 vcenter">
                            <a href="{% url "store:store_grade" item.user.storeprofile.id %}">
                                <div class="clearfix">
                                    <div class="pull-left"><b>{{ grade.author.profile.nick_name }}</b></div>
                                    <div class="pull-right">{{ grade.updated_at }}</div>
                                    <br>
                                    {{ grade.get_rating_display }}<br>
                                    {{ grade.grade_comment }}
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-offset-4 col-xs-8">
                            <hr>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="text-center" style="max-height: 200px;">
                    <h6>작성된 후기가 없습니다</h6>
                    <hr>
                </div>
            {% endif %}

            {% if item.user.storeprofile.storegrade_set.all.count > 2 %}
                <div class="row text-center">
                    <a class="col-xs-12" style="height:40px;" href="{% url "store:store_grade" item.user.storeprofile.id %}">
                        가게 후기 더보기
                        <hr>
                    </a>
                </div>
            {% endif %}

        </div>
    </div>
</div>

{% endblock %}