{% extends "trade/layout.html" %}
{% load hitcount_tags %}
{% load trade_tags %}

{% block content %}

<div class="container-fluid text-center">

    <h2>아이템 목록</h2>

    <h6 class="text-right">
        <a href="{% url "trade:item_list" %}?query={{ query }}">최신순</a><small style="padding:8px;"> | </small>
        <a href="{% url "trade:item_list" %}?query={{ query }}&sort=looks">조회순</a><small style="padding:8px;"> | </small>
        <a href="{% url "trade:item_list" %}?query={{ query }}&sort=hprice">높은가격순</a><small style="padding:8px;"> | </small>
        <a href="{% url "trade:item_list" %}?query={{ query }}&sort=lprice">낮은가격순</a>
    </h6>
    <hr>
</div>

<div class="container-fluid ">
    <div class="row text-center">
    {% for item in items %}
        <div class="col-sm-6 col-md-3">
            {% item_block item %}
        </div>
    {% empty %}
        <h4>물품을 찾을 수 없습니다..</h4>

    {% endfor %}

    </div>
</div>

<div class="container-fluid text-center">
{% if is_paginated %}
  <nav>
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li>
          <a href="?query={{ query }}&sort={{ sort }}&page={{ page_obj.previous_page_number }}">
            <span>Prev</span>
          </a>
        </li>
      {% else %}
        <li class="disabled">
          <a href="#">
            <span>Previous</span>
          </a>
        </li>
      {% endif %}

      {% for page in page_range %}
        <li {% if page == page_obj.number %}class="active"{% endif %}>
          <a href="?query={{ query }}&sort={{ sort }}&page={{ page }}">{{ page }}</a>
        </li>
      {% endfor %}

      {% if page_obj.has_next %}
        <li>
          <a href="?query={{ query }}&sort={{ sort }}&page={{ page_obj.next_page_number }}">
            <span>Next</span>
          </a>
        </li>
      {% else %}
        <li {% if not page_obj.has_next %}class="disabled"{% endif %}>
          <a href="#">
            <span>Next</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
</div>

<div style="position:fixed; bottom:30px; right:30px;">
    <a class="top" href="#"><i class="fas fa-angle-double-up fa-5x" style="color:skyblue"></i></a>
</div>

{% endblock %}

{% block extra_content %}
    <style>
      a.top {
        position: fixed;
        right: 10%;
        bottom: 150px;
        display: none;
      }
    </style>
    <script>
      $( document ).ready( function() {
        $( window ).scroll( function() {
          if ( $( this ).scrollTop() > 200 ) {
            $( '.top' ).fadeIn();
          } else {
            $( '.top' ).fadeOut();
          }
        } );
        $( '.top' ).click( function() {
          $( 'html, body' ).animate( { scrollTop : 0 }, 400 );
          return false;
        } );
      } );
    </script>
{% endblock %}