  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">댓글 삭제</h4>
      </div>
        <form class="del-form" id="del-form" action="" method="post">
          <div class="modal-body col-xs-12">
                {{ form.as_p }}
                {% csrf_token %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
            <button type="button" onclick="javascript:delSubmit()" data-dismiss="modal" class="btn btn-warning" >삭제하기</button>
          </div>
        </form>
    </div>
  </div>
