{% extends "trade/layout.html" %}
{% load static %}
{% load humanize %}
{% load trade_tags %}
{% load hitcount_tags %}

{% block head %}

    <!--Facebook 공유 기능-->
    <meta property="fb:app_id"        content="{{ facebook_key }}"/>
    <meta property="og:type"          content="website"/>
    <meta property="og:url"           content="{{ request.META.HTTP_HOST }}{{ request.path }}" />
    <meta property="og:title"         content="{{ item.title }} {{ item.amount|intcomma }}원" />
    <meta property="og:description"   content="{{ item.desc|default:'-'|linebreaks }}" />
    <meta property="og:image"         content="{{ item.itemimage_set.first.photo.url }}" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width"/>

	<script>
	function sharefacebook(url) {
		window.open("https://www.facebook.com/sharer/sharer.php?u=" + url);
	}
	</script>

    <!--Kakao Talk 공유 기능-->
    <script src="{% static 'js/kakao.min.js' %}"></script> <!-- Kakao Talk -->
    <script>
        Kakao.init('{{ kakao_key }}');
        function sendLink() {
            Kakao.Link.sendDefault({
              objectType: 'feed',
              content: {
                title: '{{ item.title }} {{ item.amount|intcomma }}원',
                description: 'Buy & Sell에서 싸게 사자!',
                imageUrl: '{{ item.itemimage_set.first.photo.url }}',
                link: {
                  webUrl: '{{ request.META.HTTP_HOST }}{{ request.path }}',
                  mobileWebUrl: '{{ request.META.HTTP_HOST }}{{ request.path }}'
                }
              },
            social: {
              viewCount: {% get_hit_count for item %},
              commentCount: {{ item.itemcomment_set.all.count }},
              sharedCount: {{ wish_ctn }}
            },
              buttons: [
                {
                  title: '빨리 사러가자!',
                  link: {
                    mobileWebUrl: '{{ request.META.HTTP_HOST }}{{ request.path }}',
                    webUrl: '{{ request.META.HTTP_HOST }}{{ request.path }}'
                  }
                }
              ]
            });
         }
    </script>

    <!--Image 미리보기 기능-->
    <script>
        jQuery(document).ready(function($) {
            $('#myCarousel').carousel({
                    interval: 7000
            });

            //Handles the carousel s
            $('[id^=carousel-selector-]').click( function(){
                    var id_selector = $(this).attr("id");
                    var id = id_selector.substr(id_selector.length -1);
                    var id = parseInt(id);
                    $('#myCarousel').carousel(id);
            });

            // When the carousel slides, auto update the text
            $('#myCarousel').on('slid', function (e) {
                    var id = $('.item.active').data('slide-number');
            });
        });
    </script>

    <!--말풍선-->
    <style>
        .bubble
        {
            position: relative;
            padding: 0px;
            background: #ededed;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
        }
        .bubble:after
        {
            content: '';
            position: absolute;
            border-style: solid;
            border-width: 14px 23px 14px 0;
            border-color: transparent #ededed;
            display: block;
            width: 0;
            z-index: 1;
            left: -23px;
            top: 18px;
        }
    </style>

    <!-- 댓글 더보기 기능 -->
    <script src="{% static "js/readmore-2.2.1.min.js" %}"></script> <!-- Readmore.js -->
    <script>
        jQuery(document).ready(function() {

        jQuery('.more').readmore({
            speed: 300,
            collapsedHeight: 67,
            heightMargin: 16,
            moreLink: '<a href="#">더 보기</a>',
            lessLink: '<a href="#">다시 닫기</a>',
        });

    });
    </script>
    <style>
        .more {
            overflow: hidden;
        }
    </style>

{% endblock %}

{% block content %}
<ol class="breadcrumb">

    {% for parent in item.category.get_ancestors %}
      <li><a href="{% url "category:category_item" parent.id %}">{{ parent }}</a></li>
    {% endfor %}

  <li class="active"><a style="color:#0fd9a6" href="{% url "category:category_item" item.category.id %}">{{ item.category }}</a></li>
</ol>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-xs-12 text-center vcenter">
            <div class="col-xs-12">

                <div id="myCarousel" class="carousel slide" data-ride="carousel">

                        <!--페이지-->
                        <ol class="carousel-indicators">
                    {% for item_image in item.itemimage_set.all %}
                            <li data-target="#myCarousel" data-slide-to="{{ forloop.counter|add:"-1" }}"></li>
                    {% endfor %}
                        </ol>
                        <!--페이지-->

                        <div class="carousel-inner">
                    {% for item_image in item.itemimage_set.all %}
                            <div class="item {% if forloop.counter == 1 %}active{% endif %}">
                                <a href="{{ item_image.photo.url }}">
                                    <img class="img-responsive" style="padding:0px; width:auto;" src="{{ item_image.photo.url }}"/>
                                </a>
                            </div>
                    {% endfor %}
                        </div>

                        <!--이전, 다음 버튼-->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon-chevron-left fas fa-angle-left"></span></a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon-chevron-left fas fa-angle-right"></span></a>
                </div>
                <ul class="list-inline" id="slider-thumbs">
                    <!-- Bottom switcher of slider -->
                        {% for item_image in item.itemimage_set.all %}
                        <li style="padding:0px;padding-top:20px;">
                            <a id="carousel-selector-{{ forloop.counter|add:"-1" }}">
                            <img class="img-responsive " style="margin: 0 auto; height:70px;padding:0px;border:1px solid #ededed" src="{{ item_image.photo.url }}"/></a>
                        </li>
                        {% endfor %}
                </ul>

            </div>
        </div><div class="col-md-6 col-xs-12 vcenter">
            <div class="row" style="padding-left:30px">
                <h2>{{ item.title }}</h2>
                <h1>{{ item.amount|intcomma }}<small> 원</small></h1>
            </div>
            <hr/>

            <table class="table table-hover table-borderless">
                <tr>
                    <td class="text-center"><i class="fas fa-eye"></i></td><td>{% get_hit_count for item %}</td>
                </tr>
                <tr>
                    <td class="text-center"><i class="far fa-thumbs-up"></i></td><td>{{ item.get_item_status_display }}</td>
                </tr>
                <tr>
                    <td class="text-center"><i class="fas fa-map-marker-alt"></i></td><td>{{ item.user.profile.address }}</td>
                </tr>
                <tr>
                    <td class="text-center"><i class="far fa-clock"></i></td><td>{{ item.updated_at }}</td>
                </tr>
                {% if item.pay_status == "ready" %}
                <tr>
                    <td class="text-center"><i class="far fa-handshake"></i></td>
                    <td><b style="color:blue;">{{ item.get_pay_status_display }}</b></td>
                </tr>
            </table>

            <div class="row" style="padding: 2px;">
                <div class="col-md-3">
                    <button class="btn btn-primary col-md-12 col-xs-12" style="margin-bottom:10px;" onclick="location.href='{% url "trade:order_new" item.pk %}?next={{ request.path }}'">
                        <i class="fa fa-check-circle"></i> 구매하기
                    </button>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-danger col-md-12 col-xs-12" style="margin-bottom:10px" onclick="location.href='{% url "mypage:wishlist_action" item.pk %}?next={{ request.path }}'">
                        <i class="fab fa-gratipay"></i> 찜 {{ wish_ctn }}
                    </button>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-info col-md-12 col-xs-12" style="margin-bottom:10px" onclick="javascript:sharefacebook('{{ request.META.HTTP_HOST }}{{ request.path }}')">
                        <i class="fab fa-facebook-square"></i> 공유하기
                    </button>
                </div>
                <div class="col-md-3">
                    <button class="btn col-md-12 col-xs-12" style="background:#ffd700; color:white;margin-bottom:10px" onclick="javascript:sendLink()">
                        <i style="color:#444444" class="fas fa-comment"></i> 공유하기
                    </button>
                </div>

                {% else %}
                <tr>
                    <td class="text-center"><i class="far fa-handshake"></i></td>
                    <td><b style="color:red;">{{ item.get_pay_status_display }}</b></td>
                </tr>
            </table>

            <div class="row" style="padding: 2px;">
                <div class="col-md-3">
                    <button class="btn btn-primary disabled col-md-12 col-xs-12" style="margin-bottom:10px;">
                        <i class="fa fa-check-circle"></i> 구매하기
                    </button>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-danger disabled col-md-12 col-xs-12" style="margin-bottom:10px">
                        <i class="fab fa-gratipay"></i> 찜 {{ wish_ctn }}
                    </button>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-info disabled col-md-12 col-xs-12" style="margin-bottom:10px">
                        <i class="fab fa-facebook-square"></i> 공유하기
                    </button>
                </div>
                <div class="col-md-3">
                    <button class="btn disabled col-md-12 col-xs-12" style="background:#ffd700; color:white;margin-bottom:10px">
                        <i style="color:#444444" class="fas fa-comment"></i> 공유하기
                    </button>
                </div>

                {% endif %}
            </div>
        </div>
    </div>
    <hr style="border-top: 1px solid #bbbbbb;">
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-xs-12">
            <div class="col-xs-12">
                <div class="row" >
                    <h2>상세 정보</h2>
                    <hr style="border-top: 1px solid #bbbbbb;">
                    <table class="table table-hover table-borderless">
                        <tr class="active">
                            <td style="min-width:120px">{{ item.user.storeprofile.name }}의 말</td> <td>{{ item.desc|default:"-"|linebreaks }}</td>
                        </tr>
                        <tr>
                            <td>상태</td> <td>{{ item.get_item_status_display }}</td>
                        </tr>
                        <tr>
                            <td>거래 지역</td> <td>{{ item.user.profile.address }}</td>
                        </tr>
                        <tr class="danger">
                            <td>우려의 한마디</td> <td>사기당하지 않도록 조심해주세요!</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class=" col-xs-12">
                <div class="row">
                <!-- Comments Form -->
                    <h2>물품 문의 <b id="comment-ctn" style="color:red;">{{ item.itemcomment_set.all.count }}</b></h2>
                    <hr style="border-top: 1px solid #bbbbbb;">

                    <!-- Comment with nested comments -->

                    <form class="form-horizontal" action="" method="POST">
                        {% csrf_token %}
                          <div class="form-group">
                              <div class=" col-xs-12">
                                {{ form.message }}
                              </div>
                          </div>

                        <div class="form-group">
                            <div class="text-right col-xs-12">
                                <button type="submit" class="btn btn-default"><i class="fas fa-comments"></i> 문의하기</button>
                            </div>
                        </div>
                    </form>

                    {% for comment in comments %}
                    <div class="container-fluid" id="block-{{ comment.id }}" style="padding:0px;">
                        <div class="col-xs-12" style="padding:5px;">
                            <div class="row">
                                <div class="col-sm-2 col-xs-3 profile-img" style="margin-top:5px">
                                    <a href="{% url "store:store_sell_list" comment.user.storeprofile.id %}">
                                        <img style="padding:0px" class="img-rounded img-thumbnail img-responsive" src="{{ comment.user.storeprofile.photo.url }}"/>
                                    </a>
                                </div><div class="col-xs-9 col-sm-10 vcenter ">
                                <div class="col-sm-12 col-xs-12 clearfix bubble" style="margin:5px;padding:10px;">
                                        <a href="{% url "store:store_sell_list" comment.user.storeprofile.id %}">
                                            <div class="pull-left" ><b>{{ comment.user.storeprofile.name }}{% if item.user == comment.user %} (주인장){% endif %}</b></div>
                                        </a>
                                        <div class="pull-right">{% simple_time comment.updated_at %}</div>
                                        <br><div id="cmt-{{ comment.id }}" class="more" style="padding-top:10px;">{{ comment.message|linebreaks }}</div>
                                        {% if comment.user == request.user %}
                                            <div class="text-right">
                                                <a class="edit" href="#" data-form="{% url "trade:comment_update" item.id comment.id %}" title="Edit">
                                                    <i class="fas fa-edit" style="margin-right:10px"></i></a>
                                                <a class="del" href="#" data-form="{% url "trade:comment_delete" item.id comment.id %}" title="Del">
                                                    <i class="fas fa-trash-alt" style="margin-right:10px"></i></a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-2 text-center" style="padding:0px;">
                            <i class="fas fa-reply fa-rotate-180 fa-2x"></i>
                        </div>
                        <div class="col-xs-10" style="padding:0px;">
                            {% for replay in comment.replies.all|dictsort:"created_at" %}
                            <div class="container-fluid" id="block-{{ replay.id }}" style="padding:0px;">
                                <div class="col-xs-12" style="padding-right:10px;">
                                    <div class="row">
                                        <div class="col-sm-2 col-xs-3 profile-img" style="margin-top:15px">
                                            <a href="{% url "store:store_sell_list" replay.user.storeprofile.id %}">
                                                <img style="padding:0px" class="img-rounded img-thumbnail img-responsive" src="{{ replay.user.storeprofile.photo.url }}"/>
                                            </a>
                                        </div><div class="col-xs-9 col-sm-10 vcenter ">
                                            <div class="col-sm-12 col-xs-12 clearfix bubble" style="margin:10px;padding:10px;">
                                                <a href="{% url "store:store_sell_list" replay.user.storeprofile.id %}">
                                                    <div class="pull-left"><b>{{ replay.user.storeprofile.name }}{% if item.user == replay.user %} (주인장){% endif %}</b></div>
                                                </a>
                                                <div class="pull-right">{% simple_time replay.updated_at %}</div>
                                                <br><div id="cmt-{{ replay.id }}" class="more" style="padding-top:10px;">{{ replay.message|linebreaks }}</div>
                                                {% if replay.user == request.user %}
                                                    <div class="text-right">
                                                        <a class="edit" href="#" data-form="{% url "trade:comment_update" item.id replay.id %}" title="Edit">
                                                            <i class="fas fa-edit" data-toggle="modal" data-target="#edit-modal"  style="margin-right:10px"></i></a>
                                                        <a class="del" href="#" data-form="{% url "trade:comment_delete" item.id replay.id %}" title="Del">
                                                            <i class="fas fa-trash-alt" data-toggle="modal" data-target="#del-modal"  style="margin-right:10px"></i></a>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                            <div class="container-fluid" style="padding:0px;">
                                <div class="col-xs-12" style="padding:0px;">
                                    <form class="form-horizontal" action="" method="POST">
                                        {% csrf_token %}
                                          <div class="form-group">
                                              <div class=" col-xs-12">
                                                {{ form.message }}
                                              </div>
                                          </div>

                                        <div class="form-group">
                                            <div class="text-right col-xs-12">
                                                <input type="hidden" name="parent_id" value="{{ comment.id }}">
                                                <button type="submit" class="btn btn-default"><i class="fas fa-comment-dots"></i> 댓글달기</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% empty %}
                    <h2 class="text-center"><small><i class="far fa-meh"></i> 문의가 없습니다</small></h2>
                    {% endfor %}
                    <!-- pagination -->
                    <div class="container-fluid text-center">
                    {% if is_paginated %}
                      <nav>
                        <ul class="pagination">
                            <li>
                              <a href="?query={{ query }}&sort={{ sort }}&page=1">
                                <span><i class="fas fa-angle-double-left"></i></span>
                              </a>
                            </li>
                          {% if page_obj.has_previous %}
                            <li>
                              <a href="?query={{ query }}&sort={{ sort }}&page={% if prev >= 1 %}{{ prev }}{% else %}1{% endif %}">
                                <span><i class="fas fa-angle-left"></i></span>
                              </a>
                            </li>
                          {% else %}
                            <li class="disabled">
                              <a href="#">
                                <span><i class="fas fa-angle-left"></i></span>
                              </a>
                            </li>
                          {% endif %}

                          {% for page in page_range %}
                            <li {% if page == page_obj.number %}class="active"{% endif %}>
                              <a href="?query={{ query }}&sort={{ sort }}&page={{ page }}">{{ page }}</a>
                            </li>
                          {% endfor %}

                          {% if page_obj.has_next %}
                            <li>
                              <a href="?query={{ query }}&sort={{ sort }}&page={% if last_page >= next %}{{ next }}{% else %}{{ last_page }}{% endif %}">
                                <span><i class="fas fa-angle-right"></i></span>
                              </a>
                            </li>
                          {% else %}
                            <li {% if not page_obj.has_next %}class="disabled"{% endif %}>
                              <a href="#">
                                <span><i class="fas fa-angle-right"></i></span>
                              </a>
                            </li>
                          {% endif %}
                            <li>
                              <a href="?query={{ query }}&sort={{ sort }}&page={{ last_page }}">
                                <span><i class="fas fa-angle-double-right"></i></span>
                              </a>
                            </li>
                        </ul>
                      </nav>
                    {% endif %}
                    </div>

                </div>

                <!-- Modal -->
                <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"></div>

            </div>
        </div>

        <div class="col-md-4 col-xs-12">
            <h2>가게 정보</h2>
            <hr style="border-top: 1px solid #bbbbbb;">

            <div class="row" style="padding:10px;">
                <div class="col-xs-4 vcenter profile-img">
                    <a href="{% url "store:store_sell_list" item.user.storeprofile.id %}">
                        <img class="img-rounded img-thumbnail img-responsive" src="{{ item.user.storeprofile.photo.url }}"/>
                    </a>
                </div><div class="col-xs-8 vcenter" style="padding:10px;">
                    <a href="{% url "store:store_sell_list" item.user.storeprofile.id %}">{{ item.user.storeprofile.name }}</a> <br><br>
                    물품 {{ item.user.item_set.count }} <small style="padding:8px;"> | </small> 팔로워 {{ follow_ctn }}
                </div>
            </div>
            <hr>

            <div class="row">
                <div class=" col-xs-12">
                    <button class="btn btn-warning col-xs-12" onclick="location.href='{% url "mypage:follow_action" item.user.storeprofile.id %}?next={{ request.path }}'">
                        <i class="fas fa-user-plus"></i> 팔로우
                    </button>
                </div>
            </div>

            <div class="row text-center" style="margin:5px;padding:5px">
            {% for it in items %}
                <div class="col-xs-4" style="padding:5px;">
                    <a href="{% url "trade:item_detail" it.id %}">
                        <div id="iteminfo" class="carousel slide" data-ride="carousel">
                            <!--페이지-->
                            <div class="carousel-inner">
                        {% for item_image in it.itemimage_set.all %}
                                <div class="item {% if forloop.counter == 1 %}active{% endif %}">
                                    <a href="{% url "trade:item_detail" it.id %}">
                                        <img class="img-responsive" style="margin:0 auth;height:auto;border:1px solid #ededed;" src="{{ item_image.photo.url }}"/>
                                    </a>
                                </div>
                        {% endfor %}
                            </div>
                        </div>
                        <h6>{{ it.amount|intcomma }} <small>원</small></h6>
                    </a>
                </div>
            {% empty %}
                <div class="col-xs-12">
                    <h6><i class="far fa-meh"></i> 등록한 물품이 없습니다</h6>
                    <hr>
                </div>
            {% endfor %}
            </div>

            {% if items_ctn > 3 %}
                <div class="row text-center" style="margin-bottom:50px">
                    <a class="col-xs-12" style="height:40px;" href="{% url "store:store_sell_list" item.user.storeprofile.id %}">
                        남은 <b style="color:red;">{{ items_ctn|add:"-3" }}개</b> 물품 보러가기
                        <hr>
                    </a>
                </div>
            {% endif %}

            {% if item.user.storeprofile.storegrade_set.all.count > 0 %}
                <h4 class="text-center">가게 후기 <b style="color:red;">{{ item.user.storeprofile.storegrade_set.all.count }}개</b></h4>
                <div class="row" style="margin-top:30px">
                    {% for grade in item.user.storeprofile.storegrade_set.all|slice:":2" %}
                        <div class="col-xs-4 profile-img vcenter">
                            <a href="{% url "store:store_sell_list" grade.author.storeprofile.id %}">
                                <img class="img-rounded img-thumbnail img-responsive" src="{{ grade.author.storeprofile.photo.url }}"/>
                            </a>
                        </div><div class="col-xs-8 vcenter">
                            <a href="{% url "store:store_grade" item.user.storeprofile.id %}">
                                <div class="clearfix">
                                    <div class="pull-left"><b>{{ grade.author.storeprofile.name }}</b></div>
                                    <div class="pull-right">{% simple_time grade.updated_at %}</div>
                                    <br>
                                    {{ grade.get_rating_display }}<br>
                                    {{ grade.grade_comment }}
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-offset-4 col-xs-8">
                            <hr>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="text-center" style="max-height: 200px;">
                    <h6><i class="far fa-meh"></i> 작성된 후기가 없습니다</h6>
                    <hr>
                </div>
            {% endif %}

            {% if item.user.storeprofile.storegrade_set.all.count > 2 %}
                <div class="row text-center">
                    <a class="col-xs-12" style="height:40px;" href="{% url "store:store_grade" item.user.storeprofile.id %}">
                        가게 후기 더보기
                        <hr>
                    </a>
                </div>
            {% endif %}

        </div>
    </div>
</div>

{% endblock %}

{% block extra_content %}
<!--comment modal-->
<style>
    pre{
        padding: 0px;
        border: none;
        font-family: nanumgothic, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 13px;
        color: #777777;
        background-color: transparent;
    }
</style>
<script>
    var edit_url = '';
    var del_url = '';

    $(".edit").click(function(ev) { // for each edit contact url
        ev.preventDefault(); // prevent navigation
        edit_url = $(this).data("form"); // get the contact form url
        $("#modal").load(edit_url, function() { // load the url into the modal
            $(this).modal("show"); // display the modal on url load
        });
        return false; // prevent the click propagation
    });

    function editSubmit(){
        var params = jQuery("#edit-form").serialize();
        $.ajax({
            type: 'POST',
            url: edit_url,
            data: params,
            success: function(data) {
                $('#cmt-'+data.id).html('<pre>'+data.msg+'</pre>').readmore({
                    speed: 300,
                    collapsedHeight: 67,
                    heightMargin: 16,
                    moreLink: '<a href="#">더 보기</a>',
                    lessLink: '<a href="#">다시 닫기</a>',
                });
            }
        });
        return false;
    }

    $(".del").click(function(ev) { // for each edit contact url
        ev.preventDefault(); // prevent navigation
        del_url = $(this).data("form"); // get the contact form url
        $("#modal").load(del_url, function() { // load the url into the modal
            $(this).modal("show"); // display the modal on url load
        });
        return false; // prevent the click propagation
    });

    function delSubmit(){
        var params = jQuery("#del-form").serialize();
        $.ajax({
            type: 'POST',
            url: del_url,
            data: params,
            success: function(data) {
                $('#block-'+data.id).remove();
                $('#comment-ctn').html(data.cmt_ctn);
            }
        });
        return false;
    }
</script>
{% endblock %}