{% extends "trade/layout.html" %}
{% load hitcount_tags %}

{% block content %}
{{ block.super }}

<h2>아이템 목록</h2>

{% for item in items %}

{% if item.pay_status == "reservation" and item.user != request.user %}
<h6>예약중인 상품입니다. ^^7</h6>
조회수 : {% get_hit_count for item %}<br>
상품명 : {{ item.title }} <br>
가격 : {{ item.amount }} <br>
사진 : <a href="{% url "trade:item_detail" pk=item.pk %}"><img src="{{ item.photo.url }}"/><br></a>
상태 : {{ item.get_item_status_display }} <br>
최근 업데이트 : {{ item.updated_at }} <br>
<br>

{% elif item.pay_status == "sale_complete" and item.user != request.user %}
<br>
<h6>판매완료 상품입니다. ^^7</h6>
조회수 : {% get_hit_count for item %}<br>
상품명 : {{ item.title }} <br>
가격 : {{ item.amount }} <br>
사진 : <a href="{% url "trade:item_detail" pk=item.pk %}"><img src="{{ item.photo.url }}"/><br></a>
상태 : {{ item.get_item_status_display }} <br>
최근 업데이트 : {{ item.updated_at }} <br>
<br>

{% else %}

<br>
조회수 : {% get_hit_count for item %}<br>
상품명 : {{ item.title }} <br>
가격 : {{ item.amount }} <br>
사진 : <a href="{% url "trade:item_detail" pk=item.pk %}"><img src="{{ item.photo.url }}"/><br></a>
상태 : {{ item.get_item_status_display }} <br>
최근 업데이트 : {{ item.updated_at }} <br>
<br>

{% endif %}
<hr>

{% endfor %}

{% endblock %}