{% extends "email_layout.html" %}
{% load humanize %}
{% load trade_tags %}

{% block content %}
	<!--content 1 -->
	<tr><td align="center" bgcolor="#fbfcfd">
		<table width="90%" border="0" cellspacing="0" cellpadding="0">
			<tr><td align="center">
				<!-- padding --><div style="height: 60px; line-height: 60px; font-size: 10px;"> </div>
				<div style="line-height: 44px;">
					<font face="Arial, Helvetica, sans-serif" size="5" color="#57697e" style="font-size: 34px;">
					<span style="font-family: Arial, Helvetica, sans-serif; font-size: 34px; color: #57697e;">
						물품에 문의글이 등록되어 알려드립니다.
					</span></font>
				</div>
				<!-- padding --><div style="height: 40px; line-height: 40px; font-size: 10px;"> </div>
			</td></tr>
			<tr><td align="center">
				<div style="line-height: 24px;">
					<a style="text-decoration: none;" href="https://{{ domain }}{% url "trade:item_detail" item.id %}" target="_blank" class="btn btn-primary">
                    <img style="height: 200px;border: 1px solid #999999; border-radius: 15px;" src="{{ item.itemimage_set.first.photo.url }}" target="_blank" class="btn btn-primary"><br>
					<font face="Arial, Helvetica, sans-serif" size="4" color="#57697e" style="font-size: 15px;">
					<span style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #57697e;">
						물품 : {{ item.title }}<br>
						가격 : {{ item.amount|intcomma }} 원<br>
						문의글 수 : {{ item.itemcomment_set.all.count }} 개
					</span></font>
					</a>
				</div>
				<!-- padding --><div style="height: 40px; line-height: 40px; font-size: 10px;"> </div>
			</td></tr>
			<tr><td align="center">
				<div style="line-height: 24px;">
					<a style="color: #4db3a4; text-decoration: none;font-size:20px;" target="_blank" href="https://{{ domain }}{% url "trade:item_detail" item.id %}" class="btn btn-primary">
						확인하러 가기</a>
				</div>
				<!-- padding --><div style="height: 60px; line-height: 60px; font-size: 10px;"> </div>
			</td></tr>
		</table>
	</td></tr>
	<!--content 1 END-->
{% endblock %}