{% extends "trade/layout.html" %}
{% load humanize %}


{% block content %}
<style>
    .table > tbody > tr > td {
         vertical-align: middle;
    }

    @media (min-width: 992px) {
        .order-form {
            padding:0px 80px 0px 80px;
        }
    }
</style>
<div class="order-form" style="padding:0px 0px 0px 0px;">
    <div class="row thumbnail" style="padding: 20px; margin:5px;">
        <div class="form-group">
            <div class="form-group">
                <div class="col-sm-12 text-center">
                    <h2><i class="fas fa-clipboard-list" style="color:purple"></i> 물품 정보</h2><hr>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12" style="padding:0px;">
                <div class="col-sm-3">
                    <div id="iteminfo" class="carousel slide" data-ride="carousel">
                        <!--페이지-->
                        <div class="carousel-inner">
                            {% for item_image in item.itemimage_set.all %}
                                    <div class="item {% if forloop.counter == 1 %}active{% endif %}">
                                        <a href="{% url "trade:item_detail" item.id %}">
                                            <img class="img-thumbnail img-responsive" style="width:auto;" src="{{ item_image.photo.url }}"/>
                                        </a>
                                    </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-sm-9" style="padding:5px;font-size:15px">
                    <div class="col-xs-12" style="padding:0px;">
                        <br><b class="col-xs-7" style="padding:0px;"><a href="{% url "trade:item_detail" item.id %}"><i class="fas fa-box" style="color:brown"></i> {{ item.title }}</a></b>
                        <b class="col-xs-5 text-right" style="color:orange;padding:0px;"><i class="fas fa-won-sign" style="color:green"></i> {{ item.amount|intcomma }} 원</b>
                    </div>
                    <div class="col-xs-12" style="padding:0px;">
                        <hr><a href="{% url "store:store_sell_list" item.user.storeprofile.id %}"><i class="fas fa-store" style="color:orange"></i> {{ item.user.storeprofile.name }}</a>
                        <small class="pull-right"><i class="far fa-clock" style="color:black"></i> {{ item.created_at|date:"Y년 M d일" }}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <form class="form-horizontal" action="" method="POST">
        {% csrf_token %}
        <div class="thumbnail" style="padding:20px">
        <div class="form-group">
            <div class="form-group">
                <div class="col-sm-12 text-center">
                    <h2><i class="fas fa-shipping-fast" style="color:#368AFF"></i> 배송 정보</h2><hr>
                </div>
            </div>
        </div>
          <div class="form-group">
            <label for="{{ form.username.id_for_label }}" class="col-sm-2 control-label">{{ form.username.label }}</label>
              <div class=" col-sm-10">
                {{ form.username }}
              </div>
          </div>
            <div class="form-group">
                <label for="{{ form.email.id_for_label }}" class="col-sm-2 control-label">{{ form.email.label }}</label>
              <div class=" col-sm-10">
                {{ form.email }}
              </div>
            </div>
            <div class="form-group">
                <label for="{{ form.phone.id_for_label }}" class="col-sm-2 control-label">{{ form.phone.label }}</label>
              <div class=" col-sm-10">
                {{ form.phone }}
              </div>
            </div>
          <div class="form-group">
              <label for="{{ form.post_code.id_for_label }}" class="col-sm-2 control-label">배송지</label>
              <div class=" col-sm-10">
                  {{ form.post_code }}
              </div>
          </div>
          <div class="form-group">
              <div class=" col-sm-10 col-sm-offset-2">
                  {{ form.address }}
              </div>
          </div>
            <div class="form-group">
              <div class=" col-sm-10 col-sm-offset-2">
                {{ form.detail_address }}
              </div>
            </div>
            <div class="form-group">
                <label for="{{ form.requirement.id_for_label }}" class="col-sm-2 control-label">{{ form.requirement.label }}</label>
              <div class=" col-sm-10">
                {{ form.requirement }}
              </div>
            </div>
        </div>
            <hr>
        <div class="thumbnail">
            <div class="form-group">
                <div class="form-group">
                    <div class="col-sm-12 text-center">
                        <h2><i class="fas fa-credit-card" style="color:red"></i> 결제 방법</h2>
                    </div>
                </div>
            </div>
            <hr>
            <div class="form-group">
                    <div class="col-sm-12 text-center">
                      {% for choice in form.pay_choice %}
                        <div class="radio col-xs-12"><h4>{{ choice }}</h4></div>
                      {% endfor %}
                  </div>
            </div>
        </div>
            <hr>
            <div class="form-group">
                <div class="col-sm-12">
                    <button class="btn btn-primary col-xs-12">구매하기</button>
                </div>
            </div>
    </form>
</div>

{% endblock %}