{% extends "trade/layout.html" %}


{% block content %}



<img src="{{ item.itemimage_set.first.photo.url }}"/>
{{ item.title }}
{{ item.desc }} <br>
{{ item.status }} <br>
{{ item.user }} <br>
{{ item.amount }} <br>
{{ item.created_at }} <br>



<form method="POST" action="">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="구매하기">
</form>




<div id="myCarousel" class="carousel slide" data-ride="carousel">

	<!--페이지-->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>
	<!--페이지-->

	<div class="carousel-inner">
		<!--슬라이드1-->
		<div class="item active">
			<img src="http://www.blueb.co.kr/SRC2/_image/w01.jpg" style="width:100%">
			<div class="container">
				<div class="carousel-caption">
					<h1>Slide 1</h1>
					<p>텍스트 1</p>
				</div>
			</div>
		</div>
		<!--슬라이드1-->

		<!--슬라이드2-->
		<div class="item">
			<img src="http://www.blueb.co.kr/SRC2/_image/w02.jpg" style="width:100%">
			<div class="container">
				<div class="carousel-caption">
					<h1>Slide 2</h1>
					<p>텍스트 2</p>
				</div>
			</div>
		</div>
		<!--슬라이드2-->

		<!--슬라이드3-->
		<div class="item">
			<img src="http://www.blueb.co.kr/SRC2/_image/w03.jpg" style="width:100%" >
			<div class="container">
				<div class="carousel-caption">
					<h1>Slide 3</h1>
					<p>텍스트 3</p>
				</div>
			</div>
		</div>
		<!--슬라이드3-->
	</div>

	<!--이전, 다음 버튼-->
	<a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
	<a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>


{% endblock %}