{% extends "trade/layout.html" %}
{% block content %}
<div class="container">
    <div class="col-md-8 offset-md-2 mt-3">
        <form action="" method="post" id="pay-form">
            {% csrf_token %}
            <div class="card card-default">
                <div class="card-header">
                    결제 진행 중 ...
                </div>
                <div class="card-body">
                    {{ form }} {# 기본 필드 렌더링 #}
                    {{ form.as_iamport }} {# iamport 렌더링 #}
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block extra_content %}
<script src="//service.iamport.kr/js/iamport.payment-1.1.5.js"></script>
{% endblock %}