
    <script>
        Kakao.init('43b0c47e22303f599cf49a0f42e75f86');
        function sendLink() {
            Kakao.Link.sendDefault({
              objectType: 'feed',
              content: {
                title: '{{ item.title }} {{ item.amount|intcomma }}원',
                description: 'Buy & Sell에서 싸게 사자!',
                imageUrl: 'http://14.36.187.98{{ item.photo.url }}',
                link: {
                  webUrl: 'http://14.36.187.98{{ request.path }}',
                  mobileWebUrl: 'http://14.36.187.98{{ request.path }}'
                }
              },
            social: {
              likeCount: {% get_hit_count for item %},
              commentCount: {{ item.itemcomment_set.all.count }},
              sharedCount: {{ wish_ctn }}
            },
              buttons: [
                {
                  title: 'Open',
                  link: {
                    mobileWebUrl: 'http://14.36.187.98{{ request.path }}',
                    webUrl: 'http://14.36.187.98{{ request.path }}'
                  }
                }
              ]
            });
         }
    </script>