<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
  <title>Untitled</title>

  <script>

    function checkmajor(form) {
      alert("changed");
    }

    function setMajor(form) {

      var frm = form;

      frm.major.options[0] = new Option(' - 선 택 - ','','','');
      frm.major.options[1] = new Option('내과','AA005','','');
      frm.major.options[2] = new Option(' -Internal Medicine(일반내과)','AA010','','');
      frm.major.options[3] = new Option(' -Allergy(알러지)','AA020','','');
      frm.major.options[4] = new Option(' -Cardiology(순환기)','AA030','','');
      frm.major.options[5] = new Option(' -Endocrinology(내분비)','AA040','','');
    }

  </script>
</head>


<body>

  <form name=form>

    <input type="radio" name="domajor" value="submajor" onClick="setMajor(this.form)">

    <select name="major" onChange="checkmajor(this.form);">
      <option value="">-선택-</option>
    </select>
  </form>

</body>
</html>