{% extends "mypage/layout.html" %}
{% load trade_tags %}

{% block mypage_content %}

<style>
    .table > tbody > tr > td {
         vertical-align: middle;
    }
</style>
<div class="container-fluid" style="padding: 0px">
    <div class="row thumbnail" style="padding: 10px; margin:10px 0px 10px 0px;">
        <div class="col-sm-9" style="padding:0px;">
            <div class="col-sm-4 col-md-3">
                <div id="iteminfo" class="carousel slide" data-ride="carousel">
                    <!--페이지-->
                    <div class="carousel-inner">
                        {% for item_image in order.item.itemimage_set.all %}
                                <div class="item {% if forloop.counter == 1 %}active{% endif %}">
                                    <a href="{% url "trade:item_detail" order.item.id %}">
                                        <img class="img-thumbnail img-responsive" style="max-height:150px;margin: 0 auto;" src="{{ item_image.photo.url }}"/>
                                    </a>
                                </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-sm-8 col-md-9" style="padding:10px;">
                <div class="col-xs-12" style="padding:0px;">
                    <b class="col-xs-8" style="padding:0px;">{{ order.item }}</b><b class="col-xs-4 text-right pull-right" style="color:orange;padding:0px;">{{ order.amount_html }}</b>
                </div>
                <div class="col-xs-12" style="padding:0px;">
                    <hr>
                    <br>{{ order.status_html }}
                    <small class="pull-right"><i class="far fa-clock"></i> {{ order.updated_at }}</small>
                <hr>
                </div>
            </div>
        </div>
        <div class="col-sm-3 text-center" style="padding:5px;">
            {% if user == order.user %}
                <div class="row" style="margin:5px"><a href="{% url "store:store_sell_list" order.item.user.storeprofile.pk %}">
                    <button class="btn btn-default col-xs-12"><i class="fas fa-user"></i> {{ order.item.user.storeprofile.name }}</button></a>
                </div>
                {% if order.status == 'paid' or order.status == 'reserv' and order.is_active %}
                <div class="row" style="margin:5px">
                    <a href="{% url "trade:order_confirm" order.id %}"><button class="btn btn-primary col-xs-12"><i class="fa fa-check-circle"></i> 구매 확정</button></a>
                </div>
                {% endif %}
                {% if order.status == 'success' %}
                <div class="row" style="margin:5px">
                    <a href="{% url "store:store_grade_new" order.item.user.storeprofile.pk order.item.pk %}"><button class="btn btn-primary col-xs-12"><i class="fas fa-pencil-alt"></i> 리뷰쓰러가기</button></a>
                </div>
                {% endif %}
                {% if order.status == 'paid' or order.status == 'reserv' %}
                <div class="row" style="margin:5px">
                    <a href="{% url "trade:order_cancle" order.id %}"<button class="btn btn-danger col-xs-12"><i class="fa fa-times"></i> 주문 취소</button></a>
                </div>
                {% endif %}
            {% endif %}
            {% if user == order.item.user %}
                <div class="row" style="margin:5px"><a href="{% url "store:store_sell_list" order.user.storeprofile.pk %}">
                    <button class="btn btn-default col-xs-12"><i class="fas fa-user"></i> {{ order.user.storeprofile.name }}</button></a>
                </div>
                {% if not order.is_active and order.status == 'reserv' %}
                <div class="row" style="margin:5px">
                    <a href="{% url "trade:seller_confirm" order.id %}"><button class="btn btn-primary col-xs-12"><i class="fa fa-check-circle"></i> 입금 확인</button></a><br>
                </div>
                {% endif %}
                {% if order.status == 'paid' or order.status == 'reserv' %}
                <div class="row" style="margin:5px">
                    <a href="{% url "trade:order_cancle" order.id %}"><button class="btn btn-danger col-xs-12"><i class="fa fa-times"></i> 주문 취소</button></a>
                </div>
                {% endif %}
            {% endif %}
        </div>
        {% if order.pay_choice == 'bank_trans' %}
        <div class="row col-xs-12 text-center">
                <h4>결제일 <b style="color:red">{{ order.created_at }}</b> 로부터 <b style="color:red">2일</b> 전까지 입금이 <b style="color:#368AFF">확인</b> 되어야합니다.</h4>
        </div>
        {% endif %}
    </div>
<div class="thumbnail" style="padding:20px">
<form class="form-horizontal">
        <div class="form-group">
            <div class="form-group">
                <div class="col-sm-12 text-center">
                    <h2><i class="fas fa-shipping-fast" style="color:#368AFF"></i> 구매자 배송 정보</h2>
                </div>
            </div>
        </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">수령인</label>
              <div class=" col-sm-10">
                <input type="text" class="form-control col-sm-10" readonly required value="{{ order.username }}">
              </div>
          </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">이메일</label>
              <div class=" col-sm-10">
                <input type="text" class="form-control col-sm-10" readonly required value="{{ order.email }}">
              </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">연락처</label>
              <div class=" col-sm-10">
                <input type="text" class="form-control col-sm-10" readonly required value="{{ order.phone }}">
              </div>
            </div>
          <div class="form-group">
              <label class="col-sm-2 control-label">배송지</label>
              <div class=" col-sm-10">
                <input type="text" class="form-control col-sm-10" readonly required value="{{ order.post_code }} {{ order.address }} {{ order.detail_address }}">
              </div>
          </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">배송시 요청사항</label>
              <div class=" col-sm-10">
                <input type="text" class="form-control col-sm-10" readonly required value="{{ order.requirement }}">
              </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">결제 방법</label>
              <div class=" col-sm-10">
                <input type="text" class="form-control col-sm-10" readonly required value="{{ order.get_pay_choice_display }}">
              </div>
            </div>
</form>
</div>
<div class="thumbnail" style="padding:20px">
<form class="form-horizontal">
        <div class="form-group">
            <div class="form-group">
                <div class="col-sm-12 text-center">
                    <h2><i class="fas fa-user"></i> 판매자 정보</h2>
                </div>
            </div>
        </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">판매자</label>
              <div class=" col-sm-10">
                <input type="text" class="form-control col-sm-10" readonly required value="{{ order.item.user.storeprofile.name }}">
              </div>
          </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">이메일</label>
              <div class=" col-sm-10">
                <input type="text" class="form-control col-sm-10" readonly required value="{{ order.item.user.email }}">
              </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">연락처</label>
              <div class=" col-sm-10">
                <input type="text" class="form-control col-sm-10" readonly required value="{{ order.item.user.profile.phone }}">
              </div>
            </div>
          <div class="form-group">
              <label class="col-sm-2 control-label">주소</label>
              <div class=" col-sm-10">
                <input type="text" class="form-control col-sm-10" readonly required value="{{ order.item.user.profile.post_code }} {{ order.item.user.profile.address }} {{ order.item.user.profile.detail_address }}">
              </div>
          </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"><b style="color:red;">계좌번호</b></label>
              <div class=" col-sm-10">
                <input type="text" class="form-control col-sm-10" readonly required value="{{ order.item.user.profile.account_num }}">
              </div>
            </div>
</form>
</div>
</div>

{% endblock %}