{% extends "mypage/layout.html" %}
{% load store.store_tags %}
{% load humanize %}

{% block mypage_content %}
<style>
.thumbnail b {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
}
.fa-star {color: #ffdd1e}
.fa-star-half-alt {color: #ffdd1e}
</style>

<div class="container-fluid" style="padding:5px;">

    {% for follow in follow_set %}
    {% store_rating follow.store.pk as end %}
    <div class="col-xs-12 col-sm-4 col-md-6">
        <div class="thumbnail text-center col-xs-12">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-xs-12">
                        {% if stores.storegrade_set.all.count == 0 %}
                            <i class="far fa-star yellow"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                        {% else %}
                            {% if end == 0 %}
                            <i class="far fa-star yellow"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                            {% elif end < 1.5 %}
                            <i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                            {% elif end < 2.0 %}
                            <i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                            {% elif end < 2.5 %}
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                            {% elif end < 3.0 %}
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                            {% elif end < 3.5 %}
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                            {% elif end < 4.0 %}
                            <i class="fas fa-star yellow"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i>
                            {% elif end < 4.5 %}
                            <i class="fas fa-star yellow"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                            {% elif end < 5.0 %}
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                            {% elif end == 5.0 %}
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                            {% endif %}
                        {% endif %}<br>
                        <a href="{% url "store:store_sell_list" follow.store.user.storeprofile.id %}">
                            <img class="img-circle img-responsive" style="margin: 0 auto;max-height: 100px;" src="{{ follow.store.photo.url }}"/>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12" style="padding:10px;">
                        <a href="{% url "store:store_sell_list" follow.store.user.storeprofile.id %}"><b>{{ follow.store.name }}</b></a> <br>
                        물품 {{ follow.store.user.item_set.count }}<br>
                        팔로워 {{ follow.store.follow_set.count }}
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row text-center" style="margin:5px 0px 5px 0px;">
                {% for it in follow.store.user.item_set.all|slice:"3" %}
                    <div class="col-xs-4" style="padding:1px;">
                        <a href="{% url "trade:item_detail" it.id %}">
                            <div id="iteminfo" class="carousel slide" data-ride="carousel">
                                <!--페이지-->
                                <div class="carousel-inner">
                            {% for item_image in it.itemimage_set.all %}
                                    <div class="item {% if forloop.counter == 1 %}active{% endif %}">
                                        <a href="{% url "trade:item_detail" it.id %}">
                                            <img class="img-responsive" style="margin:0 auth;height:auto; max-height:100px;border:1px solid #ededed;" src="{{ item_image.photo.url }}"/>
                                        </a>
                                    </div>
                            {% endfor %}
                                </div>
                            </div>
                            <h6>{{ it.amount|intcomma }} <small>원</small></h6>
                        </a>
                    </div>
                {% empty %}
                    <div class="col-xs-12" style="max-height: 200px;">
                        <h6><i class="far fa-meh"></i> 등록한 물품이 없습니다</h6>
                        <hr>
                    </div>
                {% endfor %}
                </div>
                <div class="row">
                    <div class=" col-xs-12">
                        <button class="btn btn-warning col-xs-12">
                            <i class="fas fa-user-plus"></i> 팔로우
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
        <h2 class="text-center"><small><i class="far fa-meh"></i> 팔로잉이 없습니다</small></h2>
    {% endfor %}
</div>
{% endblock %}