{% extends "mypage/layout.html" %}
{% load humanize %}
{% load trade_tags %}

{% block mypage_content %}
    {% for wishlist in wishlist_set %}
    <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="thumbnail">
          <div class="caption text-center">
            <div class="position-relative">
              <div id="iteminfo" class="carousel slide" data-ride="carousel">
                <!--페이지-->
                <div class="carousel-inner">
            {% for item_image in wishlist.item.itemimage_set.all %}
                    <div class="item {% if forloop.counter == 1 %}active{% endif %}">
                        <a href="{% url "trade:item_detail" wishlist.item.id %}">
                            <img class="img-responsive" style="margin:0 auth;height:auto;border:1px solid #ededed;" src="{{ item_image.photo.url }}"/>
                        </a>
                    </div>
            {% endfor %}
                </div>
            </div>
            </div>
            <h4 id="thumbnail-label"><i class="fas fa-won-sign" style="color:green"></i>&nbsp;{{ wishlist.item.amount|intcomma }} 원</h4><hr style="margin:5px">
            <div class="thumbnail-description smaller text-center">
                <b>{{ wishlist.item.title }}</b>
                <hr style="margin:5px">
                <i class="far fa-handshake"></i>&nbsp;<span style="color:{% if wishlist.item.pay_status == 'ready' %}#368AFF;{% else %}red;{% endif %}">{{ wishlist.item.get_pay_status_display }}</span>
                <hr style="margin:5px">
                <div class="row" style="padding:5px">
                    <div class="col-sm-6 col-xs-12" style="padding:5px">
                      <a href="{% url "mypage:wishlist_action" wishlist.item.id %}?next={{ request.path }}">
                        <button class="btn btn-danger col-xs-12"><i class="fab fa-gratipay"></i>&nbsp;찜</button>
                      </a>
                    </div>
                    <div class="col-sm-6 col-xs-12" style="padding:5px">
                      <a href="{% url "trade:order_new" wishlist.item.id %}">
                        <button class="btn btn-primary col-xs-12"><i class="fa fa-check-circle"></i>&nbsp;구매</button>
                      </a>
                    </div>
                </div>
            </div>
              <div class="thumbnail-footer">
              </div>
          </div>
        </div>
    </div>
    {% empty %}
        <h2 class="text-center"><small><i class="far fa-meh"></i> 찜한 물품이 없습니다</small></h2>
    {% endfor %}


<div class="container-fluid text-center">
{% if is_paginated %}
  <nav>
    <ul class="pagination">
        <li>
          <a href="?query={{ query }}&sort={{ sort }}&page=1">
            <span><i class="fas fa-angle-double-left"></i></span>
          </a>
        </li>
      {% if page_obj.has_previous %}
        <li>
          <a href="?query={{ query }}&sort={{ sort }}&page={% if prev >= 1 %}{{ prev }}{% else %}1{% endif %}">
            <span><i class="fas fa-angle-left"></i></span>
          </a>
        </li>
      {% else %}
        <li class="disabled">
          <a href="#">
            <span><i class="fas fa-angle-left"></i></span>
          </a>
        </li>
      {% endif %}

      {% for page in page_range %}
        <li {% if page == page_obj.number %}class="active"{% endif %}>
          <a href="?query={{ query }}&sort={{ sort }}&page={{ page }}">{{ page }}</a>
        </li>
      {% endfor %}

      {% if page_obj.has_next %}
        <li>
          <a href="?query={{ query }}&sort={{ sort }}&page={% if last_page >= next %}{{ next }}{% else %}{{ last_page }}{% endif %}">
            <span><i class="fas fa-angle-right"></i></span>
          </a>
        </li>
      {% else %}
        <li {% if not page_obj.has_next %}class="disabled"{% endif %}>
          <a href="#">
            <span><i class="fas fa-angle-right"></i></span>
          </a>
        </li>
      {% endif %}
        <li>
          <a href="?query={{ query }}&sort={{ sort }}&page={{ last_page }}">
            <span><i class="fas fa-angle-double-right"></i></span>
          </a>
        </li>
    </ul>
  </nav>
{% endif %}
</div>

{% endblock %}