{% load staticfiles %}
{% load category_tags %}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static "css/theme.css" %}">
    <title>Buy & Sell</title>
    <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>

    <link rel="stylesheet" href="{% static "css/all.css" %}">
    <script src="{% static 'js/all.js' %}"></script>


    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">

    <style>
        .navbar{
            height: 100px;
        }
        body {
            padding-bottom: 70px;
            margin-top: 100px;
            background: white !important;
        }
        .navbar-nav.navbar-center {
            position: relative;
            left: 50%;
            transform: translatex(-50%);
            min-height: 40px;
            margin-bottom: 0px;
            border: 1px solid transparent;
            padding: 15px;
        }
        .navbar-fixed-top {

        }
        .dropdown:hover .dropdown-menu {
            display: block;
            margin-top: 0;
        }
        .fa-stack {
             margin: -10px;
        }
      .container {
            background: #666666;
      }
      .container-fluid {
            <!--background: #999999;-->
      }
      h1 {
        margin: 100px 0px;
      }
    </style>

    {% block head %}
    {% endblock %}

    <title>AskDjango Blog</title>
</head>
<body>

{% category_menu as cates %}
{% subcategory_menu as subcates %}


    <div class="container-fluid" name="menu" >
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid" name="menu-layout" style="background: white; border-bottom: 1px solid #dddddd;">

                <div class="container-fluid col-md-4" name="menu-collaps" style="height: 95px; display: table">
                    <div class="row" style="display: table-cell; vertical-align: bottom; text-align: center;">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="true">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                        <a class="navbar-brand" style="float: none; color: #0fd9a6" href="{% url "trade:item_list" %}">Buy & Sell</a>
                    </div>
                </div>

              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                  <div class="container-fluid col-md-7" name="menu-layout">
                      <div class="row" style="margin-bottom: 20px;">
                <!-- Collect the nav links, forms, and other content for toggling -->
                      <ul class="nav navbar-nav navbar-right">

                          {% if user.is_authenticated %}

                            <li class="dropdown">
                              <a href="{% url "mypage:root" %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">MY PAGE<span class="caret"></span></a>
                              <ul class="dropdown-menu">
                                <li><a href="{% url "trade:trade_history" %}">거래 내역</a></li>
                                <li><a href="{% url "trade:item_new" %}">물품 등록</a></li>
                                <li><a href="{% url "mypage:wishlist" %}">찜 목록</a></li>
                                <li><a href="{% url "mypage:follow" %}">팔로우</a></li>
                                <li><a href="{% url "accounts:profile" %}">내 정보 관리</a></li>
                                <li><a href="{% url "customer:customer_ask" %}">문의 내역</a></li>
                              </ul>
                            </li>

                            <li><a href="{% url "accounts:logout" %}">LOGOUT</a></li>
                            <li><a href="{% url "mypage:wishlist" %}">찜 목록
                                <span class="fa-stack">
                                    <!-- The icon that will wrap the number -->
                                    <span class="fa fa-circle fa-stack-1x text-primary" ></span>
                                    <!-- a strong element with the custom content, in this case a number -->
                                    <strong class="fa-stack-1x" style="font-size:60%; color: white;">
                                        {{ user.wishlist_set.all.count }}
                                    </strong>
                                </span>
                                </a></li>

                            {% if user.is_staff %}
                                <li><a href="{% url "admin:index" %}">관리자</a></li>
                            {% endif %}

                          {% else %}

                            <li><a href="{% url "accounts:login" %}">로그인</a></li>
                            <li><a href="{% url "accounts:signup" %}">회원가입</a></li>

                          {% endif %}

                      </ul>
                    </div>
                      <div class="row">
          <!-- Brand and toggle get grouped for better mobile display -->

                    <!-- Collect the nav links, forms, and other content for toggling -->
                      <form class="navbar-form" style="left: 50%; transform: translatex(3%); margin-right: 15px;margin-bottom: 20px;" >
                        <div class="form-group">
                          <input type="search" size="40" class="form-control" placeholder="어떤 물품을 찾고계세요?">
                        </div>
                        <button type="submit" class="btn btn-primary">검색</button>
                      </form>

                    </div>
                  </div>


              </div><!-- /.navbar-collapse -->
          </div>
        </nav>
    </div>

    <div class="container-fluid" name="content" style="padding: 0px;">
        <nav class="navbar navbar-default navbar-static-top">
          <div class="container-fluid" style="margin-left: 0px; margin-right: 0px; margin-top: 15px; margin-bottom: 10px; border-bottom: 1px solid #dddddd;">
            <div class="row">
                <!-- Brand and toggle get grouped for better mobile display -->
                <!--<div class="navbar-header">-->
                        <!--<a class="navbar-brand" href="#">Buy & Sell</a>-->
                <!--</div>-->
                <!-- Collect the nav links, forms, and other content for toggling -->
              <ul class="nav navbar-nav navbar-left" style="margin-left: 180px; margin-right: 180px;">

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">전체 카테고리 <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                         <div class="row" style="width:600px; padding:10px; padding-left:15px;">
                            {% for cate in cates %}
                                   <ul class="list-unstyled col-md-3" style="height:200px; ">
                                       <a style="color: #0fd9a6; font-weight: bold;" href="{% url "category:categories" cate.pk %}"><p>{{ cate.name }}</p></a>

                                {% for subcate in subcates %}
                                    {% if subcate.category == cate %}
                                       <li><a href="{% url "category:subcategories" cate.pk subcate.pk %}">{{ subcate.name }}</a></li>
                                     {% endif %}
                                {% endfor %}
                                   </ul>
                            {% endfor %}
                         </div>
                      </ul>
                </li>

                <li><a href="">인기 가게</a></li>
              </ul>
                <ul class="nav navbar-nav navbar-right" style="margin-left: 180px; margin-right: 180px;">
                    <li><a style="color: #0fd9a6;" href="{% url "trade:item_new" %}"><b>나도 물건팔기</b></a></li>
                    <li><a href="{% url "store:my_store_profile" %}">내 가게</a></li>

                    <li class="dropdown">
                      <a href="{% url "customer:customer" %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">고객센터 <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="{% url "customer:customer_notice" %}">공지사항</a></li>
                        <li><a href="{% url "customer:customer_faq" %}">자주 묻는 질문</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url "customer:customer_ask" %}">1:1 문의</a></li>
                      </ul>
                    </li>

                </ul>
            </div>
          </div>
        </nav>

        <div class="row" style="margin-left: 180px; margin-right: 180px;" >

            {% if messages %}                            <!-- message 프레임워크 -->
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                      {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            {% block content %}
            {% endblock %}

            {% block extra_content %}
            {% endblock %}

        </div>
    </div>

    <div class="container-fluid" name="footer" style="margin-left: 90px; margin-right: 90px;">
        <div class="row">
            <hr/>
            &copy; 2019. yejin & donghoo
        </div>
    </div>

</body>
</html>