{% load staticfiles %}
{% load category_tags %}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static "css/theme.css" %}">

    <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>

    <style>
        .navbar{
            height: 70px;
        }
        body {
            padding-bottom: 70px;
        }
        .navbar-nav.navbar-center {
            position: relative;
            left: 50%;
            transform: translatex(-50%);
            min-height: 40px;
            margin-bottom: 0px;
            border: 1px solid transparent;
        }
    </style>
    {% block head %}
    {% endblock %}
    <title>AskDjango Blog</title>
</head>
<body>

{% category_menu as cates %}
{% subcategory_menu as subcates %}

<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">

          {% if user.is_authenticated %}

            <li><a href="{% url "mypage:root" %}">MY PAGE</a></li>
            <li><a href="{% url "accounts:logout" %}">LOGOUT</a></li>

            {% if user.is_staff %}
                <li><a href="{% url "admin:index" %}">관리자</a></li>
            {% endif %}

          {% else %}

            <li><a href="{% url "accounts:login" %}">로그인</a></li>
            <li><a href="{% url "accounts:signup" %}">회원가입</a></li>

          {% endif %}

        <!--<li><a href="#">Link</a></li>-->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <!--<div class="navbar-header">-->
            <!--<a class="navbar-brand" href="#">Buy & Sell</a>-->
    <!--</div>-->
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form">
        <div class="form-group">
            <a class="navbar-brand" href="#">Buy & Sell</a>
          <input type="text" class="form-control" placeholder="어떤 물품을 찾고계세요?">
        </div>
        <button type="submit" class="btn btn-default">검색</button>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <!--<div class="navbar-header">-->
            <!--<a class="navbar-brand" href="#">Buy & Sell</a>-->
    <!--</div>-->
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
      <ul class="nav navbar-nav navbar-center">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">전체 카테고리 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
        <li><a href="">인기 상점</a></li>
        <li class="dropdown">
          <a href="{% url "customer:customer" %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">고객센터 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url "customer:customer_notice" %}">공지사항</a></li>
            <li><a href="{% url "customer:customer_faq" %}">자주 묻는 질문</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url "customer:customer_ask" %}">1:1 문의</a></li>
          </ul>
        </li>
        <li><a href="{% url "trade:item_new" %}">나도 물건팔기</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    {% for msg in messages %}
        {{ msg }}
    {% endfor %}
        <hr>
    {% block content %}
    {% endblock %}
<table border="1">
        <tr>
            {% for cate in cates %}
            <td>
              <a href="{% url "category:categories" cate.pk %}">  <h2>{{ cate.name }}</h2></a>
            </td>
                {% for subcate in subcates %}
                    <tr>
                         {% if subcate.category == cate %}
                        <td>
                           <a href="{% url "category:subcategories" cate.pk subcate.pk %}">{{ subcate.name }}</a>
                        </td>
                         {% endif %}
                    </tr>
                {% endfor %}
            {% endfor %}

        </tr>

    <tr>

    </tr>

</table>


<div class="container">
<div class="col-sm-12">

    {% block extra_content %}
    {% endblock %}

    <hr/>
    </div></div>
    &copy; 2019. yejin & donghoo

</body>
</html>